<div class="row">
    <div class="col-md-4">
        <div class="box">
            <h3>4/12</h3>
            <p>文字内容</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box">
            <h3>4/12</h3>
            <p>文字内容</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box">
            <h3>4/12</h3>
            <p>文字内容</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="box">
            <h3>3/12</h3>
            <p>文字内容</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box">
            <h3>6/12</h3>
            <p>文字内容</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="box">
            <h3>3/12</h3>
            <p>文字内容</p>
        </div>
    </div>
</div>