@media (max-width: 767px) {
    body.page-whyarewe .intro{
        height: 375px;
        padding-top:50px;
        background-size: 60% auto;
        background-position: center 130%;
        background-attachment:local;
        font-size: 18px;
    }
    body.page-whyarewe .efficient .bg.bg1{
        transform: translateX(40%);
    }
    body.page-whyarewe .efficient .bg.bg2{
        transform: translateX(-40%);
    }
    body.page-whyarewe .efficient .bg.bg1.in{
        transform: translateX(40%);
    }
    body.page-whyarewe .efficient .bg.bg2.in{
        transform: translateX(-40%);
    }
    body.page-whyarewe #animate1 i{
        display: none;
    }
    .hidden-wx{
        display: none!important;
    }
    .visible-wx{
        display: block!important;
    }
}