@media (max-width: 767px) {
    h1, .h1 {
        font-size: 28px;
    }
    h2, .h2{
        font-size: 20px;
    }

    .form input{
            font-size: 16px;
            line-height: 32px;
            height: 32px;
    }
    
    .pull-left{
        float: none !important;
    }
    .pull-right{
        float: none !important;
    }
    body{
        font-size: 14px;
    }
    
    .btn{
        font-size: 1em;
        line-height: 20px;
    }
    .btn.has-icon span{
        display: none;
    }
    .btn.has-icon {
        padding: 2px;
    }
    .btn.has-icon img{
        transform: none;
    }
    .navbar{
        border:0;
    }
    .navbar .navbar-collapse{
        padding-top:14px;
    }
    .navbar-collapse{
        background: #fff;
        box-shadow: none;
        color:#b31c27;
        
    }
    .navbar-nav{
        margin-top: 10px;
    }
    .navbar-collapse a{
        color: inherit;
    }
    .navbar .navbar-collapse .office-nearby a{
        color: inherit;
    }
    .navbar .navbar-collapse .office-nearby{
        position: static;
        line-height: 1.2;
    }
    .navbar .navbar-collapse .navbar-lang{
        top:-4px;
    }
    .navbar-inverse .navbar-toggle{
        border:transparent;
        color:#636363;
    }
    .navbar-inverse .navbar-collapse .nav > li:after{
        background-color: transparent;
    }
    .navbar .navbar-brand{
        width: 60%;
        max-width: 190px;
        padding: 0 0 0 10px;
    }
    .navbar-inverse .navbar-nav > li > a{
        color:#b31c27;
    }
    body.homepage{
/*        background: url(../img/bg-homepage-m.jpg) no-repeat center top fixed;*/
        background-size: 100% auto;
    }
    body.homepage #mbg{
        background: url(../img/bg-homepage-m.jpg) no-repeat center top;
        background-size: 100% auto;
        width:100%;
        height:600px;
        position: fixed;
        top:0;
        left:0;
        z-index: -1;
    }
    body.homepage .btn{
        font-size: 1em;
    }
    body.homepage .intro{
        padding-left: 15px;
        padding-right: 15px;
    }
    body.homepage section{
        font-size: 1em;
    }
    body.homepage .intro .tips{
        font-size: 1em;
        text-align: left;
    }
    body.homepage section.sec-text-1{
        display: block;
        padding-top:200px;
        padding-left: 15px;
        padding-right: 15px;
    }
    body.homepage section > div{
        margin: 10px auto;
    }
    
    body.homepage section h1 br{
        display: inline-block;
    }
    body.homepage .sec-text-1 .tips{
        width: 100%;
    }
    body.homepage section.sec-text-2{
        padding-top:137px;
        height: 530px!important;
    }
    body.homepage .sec-text-2 .tips{
        margin-bottom: 30px;
        font-size: 18px;
    }
    body.homepage section p{
        font-size: 1.71428em;
        line-height: 1.4;
        height: auto;
        margin-bottom: 75px;
    }
    body.homepage section.sec-text-3{
        padding-top:67px;
/*        display: none;*/
    }
    body.homepage .sec-text-3 .tips{
        margin-bottom: 30px;
        font-size: 18px;
    }
    
    .check-office-dropdown#checkStarDropdown{
        right: 0;
        min-width: 0;
        flex-wrap: wrap;
    }

    body.homepage .awards{
        height: auto;
    }
    body.homepage .awards p{
        font-size: 1.142857em;
        line-height: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }
    body.homepage .awards h1{
        font-size: 2em;
        padding: 28px 0 18px;
    }
    body.homepage .awards .item img{
        display: block;
        margin: auto;
        max-height: 60px;
        width: auto;
    }
    body.homepage .awards .carousel-inner .item{
        height: 280px;
    }
    .consultant{
        padding-left:15px;
        padding-right:15px;
    }
    .consultant h1{
        font-size: 2em;
        margin-bottom: 25px;
    }
    .consultant .location{
        font-size: 1.1428em;
        line-height: 1.428;
        position: relative;
    }
    
    .consultant .location > .fa{
        position: absolute;
        color:#b31c27;
        left: -15px;
        transform: scale(1.4);
    }
    .consultant .location .other-office{
        float: none;
        margin-top: 20px;
    }
    .consultant .item{
        padding-top:10px;
        display: none;
    }
    .consultant .item:first-child{
        display: block;
    }
    .consultant #starConsultantAvatarBox .item{
        margin-left: -15px;
        margin-right: -15px;
    }
    .consultant #starConsultantAvatarBox .item img{
        width:100%;
    }
    .consultant .overview{
        margin-left: -15px;
        margin-right: -15px;
        font-size: 1em;
        padding-left:30px;
        padding-bottom: 16px;
        letter-spacing: -.1px;
        word-break: break-word;
    }
    .consultant .overview big{
        font-size: 2.8571em;
    }
    body.homepage .stuff{
        height: 285px;
        font-size: 1.1428em;
        background: url(../img/bubble-m.png) center no-repeat #f7f7f7;
        background-size: 100% auto;
    }
    body.homepage .stuff .item hr{
        width: 50%;
        
    }
    body.homepage .stuff #carousel-stuff{
        margin-left: -15px;
        margin-right: -15px;
    }
    body.homepage .stuff .carousel-inner{
        height: 285px;
    }
    body.homepage .stuff .item p{
        padding-top:55px;
        padding-left: 50px;
        padding-right: 50px;
        line-height: 20px;
        height: 130px;
    }
    
    body.homepage .stuff .item p:before{
	width: 48px;
	height: 36px;
	top:95px;
        background-size: 100%;
	left:-10px;
    }
    body.homepage .stuff .item p:after{
	width: 48px;
	height: 36px;
	top:95px;
        background-size: 100%;
            right:-10px;
    }


    body.homepage .stuff .item hr{
        margin-bottom: 17px;
    }
    body.homepage .stuff .item h4{
        font-size: 1em;
        margin:5px auto;
    }
    body.homepage .stuff .item h5{
        font-size: 12px;
        margin:0 auto;
    }
    .news{
        height: auto;
        background: #fff;
    }
    .news .container{
        
    }
    .news h1{
        margin-top:0;
        font-size: 28px;
    }
    .news > .title{
        height: 80px;
        padding-left:15px;
        padding-right:15px;
    }
    .news .content{
        height: auto;
        position: relative;
    }
    .news #newsIndex{
        position: absolute;
        left:0;
        top:0;
        z-index: 10;
    }
    
    .news .index{
        position: relative;
        z-index: 10;
    }
    .news .index ul li:hover, .news .index ul li.active{
        font-size: inherit;
        text-align: center;
    }
    .news .index ul li{
        height:53px;
    }
    .news .index ul li a{
        float: none;
        width:100%;
        line-height: 53px;
        height:53px;
        background-color: #ebebeb;
    }
    .news .news-box .item{
        display: block;
        height: auto;
    }
    .news .news-box .item .thumb{
        height: 212px;
        overflow: hidden;
    }
    .news .news-box .date{
        height: 280px;
        float: left;
        width: 31.25%;
    }
    .news .date .day{
        font-size: 40px;
    }
    .news .date .month{
        font-size: 12px;
    }
    
    
    .news .news-box .excerpt{
        height: 280px;
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        float: right;
        width: 68.75%;
        font-size: 1em;
        line-height: 1.3;
    }
    .news .excerpt p{
        height: 125px;
    }
    .news .news-box .no-img .date{
        height: 210px;
        float: none;
        width: 100%;
        padding-left:16.666%;
    }
    .news .no-img .date .day{
        font-size: 72px;
    }
    .news .no-img .date .month{
        font-size: 18px;
    }
    .news .news-box .no-img .excerpt{
        padding-left: 30px;
        padding-right: 30px;
        float: none;
        width: 100%;
    }
    .news .news-box .job-item{
        padding-left:16.666%;
    }
    .news .news-box .job-item .nav{
        display: none;
    }
    .news .news-box .job-item .job{
        display: block;
    }
    .news .news-box .job-item .excerpt{
        float:none;
        width:100%;
    }
    .news .news-box .job-item .excerpt .title{
        font-size:20px;
        color: #c30914;
        background: none;
        margin-bottom: 20px;
    }
    .news .news-box .job-item .excerpt .btn{
        margin-top: 20px;
    }
    .news .news-box .download-item .date img{
        opacity: 0;
    }
    
    footer{
        padding-bottom: 30px;
        line-height: 30px;
        background: url("../img/sun-m.png") top left #353535 no-repeat;
        background-size: 320px auto;
        
    }
    
    footer .col{
        width:50%;
        padding:0 30px;
        float: left;
    }
    footer .col-lt{
        padding-right: 10px;
    }
    footer .col-rt{
        padding-left: 10px;
    }
    footer h3{
        font-size: 16px;
        line-height: 25px;
    }
    
    footer ul{
        margin-top: 0;
    }
    footer ul li{
        font-size: 11px;
    }
    footer .ext{
        font-size: 12px;
        line-height: 30px;
    }
    footer address strong{
        font-size: 16px;
        font-size: inherit;
        
    }
    
    .bottom{
        font-size: 12px;
        line-height: 2;
        color: #fff;
    }
    .bottom h1{
        margin-top: 0;
        margin-bottom: 55px;
    }
    .bottom img{
        height: auto;
        max-width: 100%;
        margin-right: 10px;
    }
    .bottom small{
        font-size: 8px;
    }
    .bottom small img{
        height: 10px;
        width: auto;
    }
    .bottom .bottom-logo{
        padding: 15px 0;
        border-top:1px solid #333;
        text-align: center;
    }
    
    .text-subnav{
        padding-right:15px;
        text-align: left;
        line-height: 2;
    }
    .text-subnav:before{
        content: ' ';
        width: 100%;
        background: #dbdbdb;
        left: 0;
        top: 0;
        height: 1px;
        padding: 0 15px;
        display: block;
        margin-bottom: 10px;
    }
    .title{
        font-size: 18px;
        color: rgb( 112, 112, 112 );
        line-height: 1.595;
        padding: 18px 0 12px;
        border-bottom: 1px solid #dbdbdb;
        background-color: #efefef;
        height: auto;
    }
    .title a{
        color: inherit;
    }
    .title h1{
        font-size: 24px;
        line-height: 1;
        margin-bottom: 12px;
        color: #b31c27;
    }
    .title .btn.has-icon{
        position: absolute;
        top: -44px;
        right: 15px;
    }
    .headline{
        padding-bottom: 0;
    }
    .headline h1{
        font-size: 24px;
        line-height: 1;
        margin-bottom: 12px;
    }
    .headline a.btn{
        padding: 2px;
    }
    .headline .btn.has-icon{
        position: absolute;
        top: -44px;
        right: 15px;
    }
    .headline .text-subnav{
        padding: 0;
    }
    .headline .text-subnav:before{
        display: none;
        padding: 0;
    }
    .headline2 h1{
        font-size: 20px;
        line-height: 20px;
    }
    .headline2 .text-subnav{
        padding: 0 15px 0 0;
        font-size: 12px;
        line-height: 20px;
        text-align: right;
    }
    .headline2 .text-subnav:before{
        display: none;
        padding: 0;
    }
    .headline2 big{
        font-size: 20px;
        line-height: 20px;
        vertical-align: top;
    }
    
    body.page-consultant .consultant{
        padding: 0;
    }
    
    body.page-consultant .consultant .title h1{
        font-size: 24px;
        margin-bottom: 12px;
    }
    body.page-consultant .consultant .location{
        padding-top:17px;
        padding-bottom:0px;
        border-bottom: 0;
    }
    .consultant .select-group{
        padding: 0 15px;
    }
    .consultant .select-group .btn-group{
        margin-right:0;
        display: block;
        width: 100%;
        height: 30px;
        margin: 15px auto;
    }
    .consultant .select-group .btn-group.btn-group-city{
        height: 45px;
        margin-top:0;
        border-bottom:1px solid #dbdbdb;
    }
    .consultant .select-group .btn-group.btn-group-city .btn{
        background: #707070;
        color:#fff;
        border-color:#707070!important;
    }
    .btn-group.btn-group-city.select.open > .dropdown-menu{
        background: #707070;
        color:#fff;
        margin-top: -15px;
    }
    .btn-group.btn-group-city.select.open > .dropdown-menu > li > a{
        color:#fff;
    }
    body.page-consultant .consultant .item{
        width:100%;
        float:none;
        margin-bottom: 0;
        padding-bottom:10px;
        display: block;
        height:auto;
    }
    body.page-consultant .consultant .item:after{
        display: table;
        content: '';
        clear: both;
    }
    body.page-consultant .consultant .item img{
        display: block;
        width: 45%;
        float:left;
    }
    body.page-consultant .consultant .item .text{
        padding-left:15px;
        padding-right: 10px;
        width: 55%;
        float:left;
    }
    
    .consultant .item h2 {
        font-size: 20px;
    }
    .consultant .item h5{
        font-size: 14px;
    }
    
    
    body.page-consultant-detail .consultant .item h2 {
        font-size: 16px;
    }
    body.page-consultant-detail .consultant .item h5{
        font-size: 12px;
    }
    
    body.page-consultant-detail .consultant .title{
        font-size: 14px;
    }
    
    body.page-consultant-detail .consultant .title h1{
        margin-bottom: 12px;
    }
    body.page-consultant-detail .consultant .pic{
        margin: 0 10px;
    }

    body.page-consultant-detail .consultant .pic .container{
        height: auto;
    }
    body.page-consultant-detail .consultant .thumb{
        height: 240px;
    }
    body.page-consultant-detail .consultant .intro{
        height: auto;
        padding:20px;
    }
    body.page-consultant-detail .consultant .intro .a-message{
        margin-top: 10px;
        font-size: 16px;
    }
    body.page-consultant-detail .consultant .intro h2{
        font-size: 18px;
    }
    
    body.page-submit .form label{
        font-size: 20px;
    }
    body.page-submit article{
        padding: 0 15px;
    }
    
    body.page-submit .joblist .item{
        margin-left: 0;
        padding:10px 0;
        font-size:12px;
    }
    body.page-submit .joblist .item .sq{
        width: 58px;
        height: 58px;
    }
    body.page-submit .joblist .item .title{
        font-size:14px;
    }
    body.page-submit .joblist .item address{
        font-size:10px;
    }
    
    
    body.page-news-list .news .title h1{
        margin-bottom: 12px;
    }
    body.page-news-list .news .list{
        display: block;
    }
    body.page-news-list .news .list .img-box img{
        width:100%;
        height:auto;
    }
    body.page-news-list .news .list h2{
        font-size: 20px;
    }
    body.page-news-list .news .list .date{
        font-size: 12px;
    }
    body.page-news-list .news .list p{
        font-size: 14px;
        line-height: 1.429;
        height:auto;
    }
    body.page-news-list .news .list.no-img{
        padding-top:0;
    }
    body.page-news-list .news .list.no-img .category{
        display: none;
    }
    
    body.page-news .banner{
        display: none;
    }
    section.sec-news-detail h1{
        font-size:20px;
        line-height: 1.2;
    }

    section.sec-news-detail .col-md-10{
        padding:0 20px;
    }
    
    .row-title{
        border: 0;
        border-top:1px solid #d7d7d7;
        border-bottom:1px solid #d7d7d7;
    }
    section.sec-news-detail .col-md-10{
        border:0;
    }
    
    .row-title .news-date{
        color:#555;
        background:#f7f7f7;
        border-top:1px solid #d7d7d7;
        border-right:1px solid #d7d7d7;
        font-size: 14px;
        line-height: 40px;
        height: 40px;
    }
    .row-title .news-date big{
        font-size: 20px;
        line-height: 40px;
    }
    .row-title .news-back{
        color:#555;
        background:#fff;
        border-top:1px solid #d7d7d7;
        font-size: 12px;
        line-height: 40px;
        height: 40px;
        text-align: right;
    }
    .row-title .news-back a{
        color:#b72a34;
        font-size: 14px;
    }
    .row-title .news-back a big{
        display: inline-block;
        transform: scale(1.4);
        position: relative;
        top:5px;
        left:-5px;
    }
    .row-content{
        border:0;
    }
    
    body.page-whyarewe #bgMask{
        background-image: url(../img/bg-whyarewe-m.jpg);
    }
    body.page-workwithus .headline .col{
        padding-bottom: 0;
    }
    body.page-workwithus .video-box .col{
        padding: 0;
    }
    body.page-workwithus .video-box video{
        width: 100%;
        height: auto;
    }
    body.page-workwithus .video-box{
        height: auto;
    }
    body.page-workwithus .form-box .col{
        display: block;
    }
    body.page-whoarewe .title{
        border-bottom: 0;
    }
    body.page-whoarewe .title a{
        margin:0 1em;
    }
    body.page-whoarewe .title a:first-child{
        margin-left:0;
    }
    body.page-whoarewe .main-box article{
        padding: 15px;
        border: 0;
    }
    body.page-whoarewe .main-box{
        margin: 15px;
        padding-top:20px;
    }
    body.page-whoarewe .main-box h2{
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    body.page-whyarewe .top{
        padding-top: 65px;
    }
    body.page-whyarewe .top h1{
        font-size: 40px;
    }
    body.page-whyarewe .top .excerpt{
        font-size: 16px;
        height: 80px;
    }
    body.page-whyarewe .top .content{
        font-size: 20px;
        height: 250px;
    }
    
    body.page-whyarewe .map{
        height: auto;
        padding-top:0;
        font-size: 15px;
        text-align: left;
    }
    body.page-whyarewe .map .bg.bg1{
        background-image:url(../img/bg-map-m.jpg);
        background-size: 100% auto;
        height: 280px;
    }
    body.page-whyarewe .map .bg#mapCity{
        display: none;
    }
    
    body.page-whyarewe .map .map-point{
        display: none;
    }
    
    body.page-whyarewe .map .container{
        position: relative;
        z-index: 10;
    }
    
    body.page-whyarewe .map h3{
        font-size: 15px;
    }
    body.page-whyarewe .map big{
        font-size: 27px;
    }
    body.page-whyarewe .map .bg{
        position: static;
        height: 400px;
    }
    body.page-whyarewe .map #mapCityText{
        padding-bottom:60px;
    }
    body.page-whyarewe .map #mapCityText h3, body.page-whyarewe .map #mapCityText p{
        transition: opacity .5s;
    }
    body.page-whyarewe #animate1,
    body.page-whyarewe #animate2,
    body.page-whyarewe #animate3{
        transition: opacity .5s;
    }
    body.page-whyarewe #textfade1{
        transition: opacity .5s;
    }
    
    body.page-whyarewe .intro{
        height: 375px;
        padding-top:50px;
        background-size: 60% auto;
        background-position: center;
        font-size: 18px;
    }
    body.page-whyarewe .intro h3{
        font-size:24px;
    }
    body.page-whyarewe .intro p{
        font-size: 16px;
        line-height: 22px;
    }
    body.page-whyarewe .intro p b{
        font-size:36px;
        line-height: 1.4;
        display: block;
        text-align: center;
    }
    
    body.page-whyarewe .efficient{
        padding-top: 50px;
        font-size: 20px;
    }
    body.page-whyarewe .efficient .bg.bg1{
        background-size: auto 200%;
    }
    body.page-whyarewe .efficient .bg.bg2{
        background-size: auto 200%;
    }
    body.page-whyarewe .efficient .bg.bg1{
        transform: translateX(-50%);
    }
    body.page-whyarewe .efficient .bg.bg2{
        transform: translateX(50%);
    }
    body.page-whyarewe .efficient .bg.bg1.in{
        transform: translateX(40%);
    }
    body.page-whyarewe .efficient .bg.bg2.in{
        transform: translateX(-40%);
    }
    body.page-whyarewe .show{
        padding-top: 75px;
        padding-bottom: 0px;
    }
    body.page-whyarewe .show .text{
        font-size: 15px;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    body.page-whyarewe .show.show-cal{
        padding-top: 60px;
    }
    body.page-whyarewe .pool{
        height: auto;
    }
    body.page-whyarewe .pool .overview{
        height: auto;
        font-size:16px;
        padding-top: 55px;
    }
    body.page-whyarewe .pool h1{
        font-size: 20px;
    }
    body.page-whyarewe .pool .donut img{
        display: block;
    }
    body.page-whyarewe .show big{
        font-size: 36px;
    }
    body.page-whyarewe .pool .title{
        text-align: center;
    }
    
    body.page-whyarewe .topranking{
        font-size: 16px;
        background-color: rgba(0,0,0,.4);
    }
    body.page-whyarewe .topranking h1{
        font-size: 20px;
        color:#fff;
    }
    body.page-whyarewe .topranking .bg{
        background: transparent;
    }
    
    body.page-whyarewe .topnotch{
        font-size: 14px;
        line-height: 1.2;
    }
    body.page-whyarewe .topnotch h1{
        font-size: 20px;
    }
    
    body.page-whyarewe .pool .donut{
        position: relative;
    }
    #svgm,#svgm2{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height:100%;
        z-index: 10;
    }
}