@font-face {
	font-family: 'Helvetica Neue R';
	src: url('../fonts/HelveticaNeueLTPro-Roman.eot');
	src: 
            url('../fonts/HelveticaNeueLTPro-Roman.woff') format('woff'), 
            url('../fonts/HelveticaNeueLTPro-Roman.ttf') format('truetype'), 
            url('../fonts/HelveticaNeueLTPro-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeueLTPro-Th.eot');
	src: local('☺'), 
            url('../fonts/HelveticaNeueLTPro-Th.woff') format('woff'), 
            url('../fonts/HelveticaNeueLTPro-Th.ttf') format('truetype'), 
            url('../fonts/HelveticaNeueLTPro-Th.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*@font-face {
	font-family: 'MyriadPro-Light';
	src: url('../fonts/MyriadPro-Light.eot');
	src: local('☺'), url('../fonts/MyriadPro-Light.woff') format('woff'), url('../fonts/MyriadPro-Light.ttf') format('truetype'), url('../fonts/MyriadPro-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Exotic350BT-DemiBold';
	src: url('../fonts/Exotic350BT-DemiBold.eot');
	src: local('☺'), url('../fonts/Exotic350BT-DemiBold.woff') format('woff'), url('../fonts/Exotic350BT-DemiBold.ttf') format('truetype'), url('../fonts/Exotic350BT-DemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/
ul,li{
	padding: 0;
	margin: 0;
	list-style: none;
}
img{
    max-width: 100%;
}

.nav > li > a {
  padding: 5px 19px;
}
.navbar {
  padding-top: 10px;
  margin-bottom: 10px;
}
.navbar-brand {
  padding: 0 0 0 25px;
}
.nav > li > a:hover, .nav > li > a:focus{
	background-color: transparent;
}
/*nav*/
.navbar .navbar-collapse{
	position: relative;
	padding-top:34px;
	font-size: 12px;
	letter-spacing: 1px;
}
.navbar .navbar-collapse .office-nearby{
	position: absolute;
	color: #bfbfbf;
    top: -10px;
    left: 40px;
    line-height: 57px;
}
.navbar .navbar-collapse .office-nearby .fa{
	transform:scale(2.2);
	margin-right: 13px;
}
.navbar .navbar-collapse .office-nearby a{
	margin: 0 2px;
	color: #fff;
	border-bottom: 1px solid #bfbfbf;
}
.navbar .navbar-collapse .nav > li{
	padding-left:19px;
	padding-right:19px;
}
.navbar .navbar-collapse .nav > li > a{
	padding-left:0px;
	padding-right:0px;
}
.navbar .navbar-collapse .nav > li:after{
	position: absolute;
	top:9px;
	right:0;
	content:'';
	height: 12px;
	width: 1px;
	background-color:#fff;
}
.navbar .navbar-collapse .nav > li:last-child{
	padding-right:0;
}
.navbar .navbar-collapse .nav > li:last-child:after{
	display: none;
}
/*.navbar .navbar-collapse .nav > li > a:before{
	position: absolute;
	bottom:2px;
	left:0;
	content:'';
	border-bottom: 2px solid #ad1c26;
	width: 100%;
}*/
.navbar .navbar-collapse .nav > li:hover > a:before{
	position: absolute;
	bottom:2px;
	left:0;
	content:'';
	border-bottom: 2px solid #ad1c26;
	width: 100%;
}
.navbar .navbar-collapse .navbar-lang{
	position: absolute;
	right: 0;
    top: -10px;
    padding:10px 0 0;
    z-index: 10;
}
.navbar .navbar-collapse .navbar-lang li{
	display: block;
    padding:10px 15px;
    line-height: 1;
}
.navbar .navbar-collapse .navbar-lang li.other{
	display: none;
}
.navbar .navbar-collapse .navbar-lang:hover{
	background-color: #f0e4de;
    padding:10px 0;
}
.navbar .navbar-collapse .navbar-lang:hover li a{
	color:#000;
}
.navbar .navbar-collapse .navbar-lang:hover li.other{
	display: block;
}
.navbar .navbar-collapse .navbar-lang:hover li.other a{
	color:#b31c27;
}
.navbar .navbar-collapse .navbar-lang:hover li.other:hover{
	background-color:#b31c27;
	color: #fff;
}
.navbar .navbar-collapse .navbar-lang:hover li.other:hover a{
	color: #fff;
}
.navbar .navbar-collapse .fa.dn{
	transform:scale(2.2);
	margin-left: 9px;
}
.navbar .navbar-collapse .navbar-lang:hover .fa.dn{
	transform:scale(2.2) rotate(180deg);
}


.navbar-inverse .navbar-collapse .office-nearby{
	color: #a0a0a0;
}
.navbar-inverse .navbar-collapse .office-nearby a{
	color: #434343;
}
.navbar-inverse .navbar-collapse .navbar-lang{
	color: #bfbfbf;
}
.navbar-inverse .navbar-collapse .navbar-lang a{
	color: #a0a0a0;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
  color: #1b1b1b;
}
.navbar .navbar-collapse .nav > li.open{
	background-color: #f0e4de;
}
.navbar .navbar-collapse .nav > li.open:hover > a:before{
	display: none;
}
.open > .dropdown-menu{
	border: 0;
	border-radius: 0;
	background-color: #f0e4de;
}

/*drop down*/
.dropdown{
	position: absolute;
	z-index: 999;
}
.drop-check-office{
	padding-left: 1em;
}
.drop-check-office.hover{
	background-color: #f0e4de;
	display: inline-block;
}
.check-office-dropdown{
	width: 100%;
	background: #f0e4de;
	padding: 20px;
	min-width: 640px;
	display: flex;
}
.check-office-dropdown dl{
	flex: 1 1 auto;
	width: 115px;
}
.check-office-dropdown dt{
  font-size: 20px;
  color: #b31c27;
  line-height: 1;
  padding: 10px 15px 6px;
  height: 36px;
}
.check-office-dropdown dt + dd{
    padding-top: 0;
}
.check-office-dropdown dd{
  font-size: 16px;
  color: #1b1b1b;
  min-width: 115px;
  padding: 12px 0 8px 15px;
  margin: 0;
  height: 36px;
  line-height: 1;
    color: #1b1b1b;
    display: block;
}
.check-office-dropdown a{
  display: block;
  color: inherit;
}
.check-office-dropdown a:hover{
    color: inherit;
    background-color: #b31c27;
    color: #fff;
    font-weight: bold;
}
.check-office-dropdown a:hover dt,
.check-office-dropdown a:hover dd{
    color:#fff;
}
.check-office-dropdown dd:empty{
	opacity: 0;
}
.drop-group.hover{
	color: #1b1b1b;
}
.drop-group.hover .fa.dn{
	transform:scale(2.2) rotate(180deg);
}
.btn-default#checkStar:hover,
.btn-default#checkStar.hover{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background-color: #f0e4de;
	color: #707070;
	border-color: #f0e4de;
}
.check-office-dropdown#checkStarDropdown{
	width: auto;
	right: -97.5px;
	display: flex;
}

h1,h2,h3{
	font-weight: lighter;
	font-family: 'Helvetica Neue';
}

.btn {
  border: 0;
  padding: 5px 18px 3px;
  font-size: 18px;
  line-height: 28px;
  border-radius: 18px;
	border:1px solid transparent;
}
.btn:hover, .btn:focus, .btn.focus{
	border:1px solid #1b1b1b;
}
.btn.has-icon {
	padding-right: 4px;
}
.btn.has-icon img{
	transform: translateY(-2px);
}
.btn-default{
  background-color: #707070;
  color: #fff;
}
.btn-default:hover{
	color: #fff;
  	background-color: #707070;
	opacity: .9;
}
.btn-default:active:hover, 
.btn-default.active:hover, 
.open > .dropdown-toggle.btn-default:hover, 
.btn-default:active:focus, 
.btn-default.active:focus, 
.open > .dropdown-toggle.btn-default:focus, 
.btn-default:active.focus, 
.btn-default.active.focus, 
.open > .dropdown-toggle.btn-default.focus{
  background-color: #707070;
  color: #1b1b1b;
}
.btn-default:focus, .btn-default.focus{
	color: #fff;
  	background-color: #707070;
}
.open > .dropdown-toggle.btn-default {
  background-color: #707070;
  color: #fff;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dropdown-menu > li > a{
	color: #1b1b1b;
}
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus{
	color: #fff;
	background-color:#b31c27;

}
.btn-group.open .dropdown-toggle{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.open > .btn:hover{
	opacity: 1;
}
.navbar-right .dropdown-menu{
	right: auto;
	left: 0;
}
.navbar-right .dropdown-menu > li > a{
    padding-top:8px;
    padding-bottom:8px;
}
.navbar-inverse .navbar-collapse .nav > li:after{
    background-color:#888;
}
/*.open > .dropdown-menu{
	border: 0;
	width: 100%;
	background-color:#707070;
	margin: 0;
	border-radius: 0 0 18px 18px;
}
.open > .dropdown-menu a{
	color: #fff;
}
*/
/*round */
#round {
	position: absolute;
	top: 0px;
	left:0;
	z-index: 20;
}
#round p{
	width:100px;
	height: 100px;
	border-radius: 50%;
	background: rgba(255,0,0,.6);
	text-indent: -9999px;
	position: absolute;
	bottom: 0;
	left: 300px;
	transition: all .3s;
	opacity: 0;
}
#round p.fadein{
	opacity: 1;
}
#round p.pulse{
	opacity: 1;
	background: radial-gradient(ellipse at center, rgba(255,255,255,0.01) 0%,rgba(255,255,255,0.01) 65%,rgba(255,255,255,1) 100%);
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
/*round */

@keyframes pulse{
	0% {
		opacity: 1;
		transform: scale(0);
	}
	50% {
		opacity: 0;
		transform: scale(8);
	}
	100% {
		opacity: 0;
		transform: scale(8);
	}
}

.loading{
	display: block;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;

}
.loading img{
	display: inline-block;
	width: 48px;
	height: 48px;
    animation-name: circle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}




header{
	position: relative;
	z-index: 99;
/*	position: absolute;
	top:0;
	width: 100%;
	z-index: 99;*/
}
header.fixed{
	position: fixed;
	top:0;
	width: 100%;
	z-index: 99;
}
body{
    overflow-x:hidden;
}
body.homepage{
	/*background: url(../img/bg.jpg) no-repeat center top fixed;*/
	background-size: cover;
}

header.inverse{
	background-color: #fff;
}

body.homepage .intro{
	position: relative;
	overflow: hidden;
}
body.homepage .intro .tips{
  font-size: 19.97px;
  font-family: "HelveticaNeueLTPro";
  color: rgb( 179, 28, 39 );
  line-height: 1.2;
  text-align: center;
}
body.homepage .sec-text{
	position: relative;
}
body.homepage .sec-text-1 .tips{
/*	position: absolute;
    left: 8.3333%;
    top: 250px;
    width: 33.333%;*/
    width: 66.6666%;
    margin: 0 auto;
}
body.homepage .btn{
/*	padding-left: 30px;
	padding-right: 30px;*/
	font-size: 16px;
	letter-spacing: .5px;
}

body.homepage section{
	height: 600px;
	padding-top: 230px;

  font-size: 36px;
  line-height: 40px;
}
body.homepage section.sec-text-1{
	padding:0;
	  display: -webkit-flex;
	  display: flex;
  -webkit-align-items: center;
          align-items: center;
}
body.homepage section > div{
	flex: 1;
}
body.homepage section h1{
  font-size: 54px;
  letter-spacing: -.5px;
  margin: 0;
}
body.homepage section h1 br{
    display: none;
}
body.homepage section p{
	height: 250px;
	max-width: 550px; 
}

body.homepage #bg{
	top:0;
	left:0;
	position: fixed;
	z-index: -10;
	width: 100%;
	height: 100%;
	background: url(../img/bg.jpg) no-repeat center top fixed;
	background-size: cover;
}
body.homepage #bg video{
	width: 100%;
}
body.homepage #bgMask{
	top:0;
	left:0;
	position: fixed;
	z-index: -9;
	width: 100%;
	height: 100%;
	background: url(../img/bg-mask.png) no-repeat center top fixed;
        background:rgba(0,0,0,.6);
	background-size: cover;
}

body.homepage .awards{
	height: 400px;
	background:url(../img/awards-bg.png) no-repeat center #b31c27;
}
body.homepage .awards h1{
  font-size: 40px;
  padding: 50px 0;
  text-align: center;
}
body.homepage .awards p{
	font-size: 20px;
	margin: 25px auto;
}
body.homepage .awards .carousel-inner .item{
	height: 180px;
}


.consultant{
	color:#1b1b1b;
	padding-top: 25px;
	background-color: #fff;
}
.consultant h1{
  font-size: 40px;
}
.consultant .location{
  font-size: 24px;
  color: #959595;
  line-height: 1.127;
  border-bottom: 1px solid #dbdbdb;
	padding-bottom: 25px;
}
.consultant .select-group{
  border-bottom: 1px solid #dbdbdb;
	padding-top: 10px;
	padding-bottom: 10px;
}
.consultant .select-group .btn-group{
	margin-right: 20px;
}
.consultant .location .other-office{
	float: right;
	margin-top: -10px;
}
.consultant .location .other-office a{
	text-decoration: none;
}
.consultant .location > a{
	color: #000;
	text-decoration: underline;
}
.consultant .item{
	padding-top:20px;
	padding-bottom:20px;
	padding-right: 0;
}
.consultant .item h2{
  font-size: 20px;
  color: rgb( 27, 27, 27 );
  line-height: 1.352;
  margin: 0;
}
.consultant .item h5{
  font-size: 16px;
  color: #b31c27;
  margin: 0;
}
.consultant .item .email{
	margin-top: 15px;
	height: 40px;
	margin-bottom: 0;
  font-size: 14px;
  color: #a0a0a0;
}
.consultant .item .email a{
	color:#1b1b1b;
  text-decoration: underline;
}
.consultant .item a.more{
  color: #a0a0a0;
  text-decoration: underline;
  position: relative;
  padding-left: 30px;
  display: block;
  margin-top:40px;
}
.consultant .item a.more:before{
  	position: absolute;
  	top:0;
  	left:0;
	font-family:'FontAwesome';
	width: 30px;
	content:"\f061";
	color:#b31c27;
}
.consultant .avatar{
	background-color: #212227;
}
.consultant .avatar .item{
	padding: 0;
	text-align: center;
}

.consultant .overview{
  color: rgb( 27, 27, 27 );
  background-color: #f0e4de;
  font-size: 22px;
  line-height: 48px;
  padding: 24px 0 12px;
  letter-spacing: 1px;
}
.consultant .overview big{
  font-size: 48px;
  color: #8e4b99;
}
.consultant .overview big.blue{
	color:#1e499d;
}
.consultant .filter_star{
    border: 0;
    padding: 5px 18px 3px;
    font-size: 18px;
    line-height: 28px;
    border-radius: 18px;
    border: 1px solid transparent;
    cursor: pointer;
}
.consultant .filter_star img{
    margin-right: 10px;
}
.consultant .filter_star a{
    color: inherit;
}

body.homepage .stuff{
  font-size: 22px;
  color: rgb( 27, 27, 27 );
  line-height: 1.364;
  text-align: center;
  background: #fbfbfb;
  height: 460px;
}
body.homepage .stuff .carousel-inner{
  height: 460px;
}
body.homepage .stuff .carousel-indicators li{
	background-color: #a0a0a0;
}
body.homepage .stuff .carousel-indicators .active{
	background-color: #b31c27;
}

body.homepage .stuff .item p{
	padding-top: 120px;
	height: 200px;
	position: relative;
}
body.homepage .stuff .item p:before{
	content: "";
	background:url(../img/quote.png) no-repeat center;
	width: 100px;
	height: 75px;
	position: absolute;
	top:95px;
	left:-230px;
}
body.homepage .stuff .item p:after{
	content: "";
	background:url(../img/quote.png) no-repeat center;
	transform: rotate(180deg);
	width: 100px;
	height: 75px;
	position: absolute;
	top:95px;
	right:-230px;
}
body.homepage .stuff .item h5{
  font-size: 16px;
  color: rgb( 149, 149, 149 );
  line-height: 1;
}
body.homepage .stuff .item h4{
  font-size: 20px;
  color: #1b1b1b;
  line-height: 1;
}
body.homepage .stuff .item hr{
	margin-bottom: 40px;
	border-top-color: #e3e3e3;
}



/*news part*/
.news{
	height: 600px;
	background: url(../img/bg-news.jpg) no-repeat center top fixed;
	background-size: cover;
}
.news .title{
	height: 197px;
	color: #fff;
	font-size: 24px;
	letter-spacing: .5px;
	padding-top: 30px;
}
.news .content{
	height: 280px;
}

.news .index ul{
	width: 100%;
	list-style: none;
	padding: 0;
}
.news .index ul li{
	width: 100%;
	height: 70px;
	list-style: none;
	padding: 0;
	margin: 0;
}
.news .index ul li a{
	float:right;
	display: block;
	width: 70px;
	color: #555;
	text-align: center;
	line-height: 70px;
	font-size: 18px;
	color: #555;
	background-color: #fff;
	border-top: 1px solid #ddd;
	height: 70px;
}
.news .index ul li:first-child a{
	border-top: 0;
}
.news .index ul li:hover,
.news .index ul li.active{
	background-color: #b31c27;
}
.news .index ul li:hover a,
.news .index ul li.active a{
	border-top: 0;
	background-color: transparent;
	font-size: 36px;
	color: #fff;
}
.news .news-box .item{
    display:flex;
    background: #fff;
    height: 280px;
}
.news .news-box .thumb{
    flex:3;
}
.news .news-box .date{
    flex:2;
}
.news .news-box .excerpt{
    flex:5;
}
.news .news-box .share{
    flex:3;
}
.news .news-box .job-item{
    flex-direction:column;
    padding-left:80px;
}

.news .news-box .job-item .nav{
    border-bottom: 1px solid #dbdbdb;
    padding-top:20px;
    padding-left:20px;
    line-height:40px;
    margin-bottom: 20px;
    font-size:16px;
    color:#1b1b1b;
}
.news .news-box .job-item .job{
    display:flex;
}
.news .news-box .job-item .sq{
	height: 100px;
	width: 100px;
        margin: auto;
	display: block;
	background:#b31c27;
}
.news .news-box .job-item .excerpt{
    padding-top:0;
}
.news .news-box .job-item .share{
    padding-top:0;
}
.news .news-box .job-item .title{
  font-size: 28px;
  color: #b31c27;
  text-align: left;
  display: block;
  height: auto;
  padding-top:10px;
}
.news .news-box .job-item address{
  font-size: 16px;
  color: rgba( 183, 183, 183, 0.98 );
  text-transform: uppercase;
  line-height: 1.125;
  display: block;
  margin-bottom: 0;
}
.news .news-box .job-item .date{
    padding-top: 0;
}
.news .news-box .job-item .share{
    background: transparent;
    border-left: 1px solid #dbdbdb;
    padding-top: 14px;
    padding-bottom: 0;
    height: 50px;
}



.news .news-box .no-img .date{
    flex:3;
}
.news .news-box .no-img .excerpt{
    flex:7;
}


.news .date{
	background: #fff;
	padding-top: 60px;
  text-transform: uppercase;
  text-align: center;
/*  height: 280px;*/
}
.news .date .type{
  font-size: 16px;
  color: rgba( 27, 27, 27, 0.98 );
  line-height: 1.5;
}
.news .date .day{
  font-size: 72px;
  line-height: 1.2;
  color: rgb( 179, 28, 39 );
}
.news .date .month{
  font-size: 18px;
  color: rgb( 99, 99, 99 );
}

.news .excerpt{
	background: #fff;
/*  height: 280px;*/
  font-size: 18px;
  color: rgb( 99, 99, 99 );
  padding-top: 44px;
}
.news .excerpt h2 a{
	color:#c30914;
}
.news .excerpt p{
	height: 85px;
}



footer{
	background: url(../img/footer.png) center #353535 no-repeat;
	font-size: 12px;
	line-height: 2;
	color:#fff;
	padding-top: 20px;
}
footer h2{
	margin-top: 30px;
	margin-bottom: 5px;
}
footer h3{
  font-size: 18px;
  line-height: 40px;
}
footer ul{
	padding-left:10px;
	padding-top: 3px;
	line-height: 22px;
}
footer ul li{
	margin-top: 10px;
	list-style-type: disc;
}
footer ul li a{
	color: inherit;
}
footer address{
	font-size: 12px;
	color: #fff;
}
footer address strong{
	font-size: 18px;
	color: #aaa;
	display: block;
}
footer .fa{
	color: #b31c27;
	margin-right: 20px;
	font-size: 16px;
}
footer hr{
	border-top-color: #aaa;
}
footer .ext{
	color:#aaa;
	line-height: 50px;
	font-size: 14px;
}
footer .ext a{
	color:#aaa;
	margin: 0 10px;
	display: inline-block;
}
footer .ext a:first-child{
	margin-left: 0;
}

.bottom{
  font-size: 12px;
  line-height: 40px;
  padding:13px 0;
  color: #898989;
  letter-spacing: .5px;
  background-color: #1e1e1e;
}
.bottom img{
	height: 40px;
	margin-right: 20px;
}
.bottom a{
	color: #898989;
}
.bottom .social{
	font-size: 24px;
}
.bottom .social a {
	margin-left:3px;
	opacity: .5;
}
.bottom .social img {
	width: 24px;
	height: 24px;
	margin: 0 2px;
}
.bottom .social a:hover {
	opacity: 1;
}

.text-subnav{
    padding-right:0;
    text-align: right;
}

.banner{
	height: 256px;
	margin-top: -86px;
	background: url(../img/banner-consultant.jpg) no-repeat center;
	background-size: cover;
}
body.page-consultant{
	background: url(../img/bg.jpg) no-repeat center top fixed;
	background-size: cover;
}
body.page-consultant .consultant{
	background: #fff;
	padding-top: 0;
	padding-bottom: 38px;
}
body.page-consultant .consultant .title{
  font-size: 18px;
  color: rgb( 112, 112, 112 );
  line-height: 1.595;
  padding:18px 0 12px;
  border-bottom: 1px solid #dbdbdb;
  background-color: #efefef;
}
body.page-consultant .consultant .title a{
	color: inherit;
}
body.page-consultant .consultant .title a.btn{
	color: #fff;
}
body.page-consultant .consultant .title h1{
	color:#b31c27;
	margin: 0;
	line-height: 1;
}
body.page-consultant .consultant .location{
	padding-top: 34px;
	padding-bottom: 28px;
	border-bottom-color: #dbdbdb;
}
body.page-consultant .consultant .location .check-office-dropdown#checkStarDropdown{
/*    top:72px;*/
}

body.page-consultant .consultant .list{
	padding-top: 20px;
}
body.page-consultant .consultant .item{
	width: 33%;
	float: left;
	margin-bottom: 65px;
	display: flex;
        height: 220px;
}
body.page-consultant .consultant .item img{
	width: 150px;
	display: block;
        cursor: pointer;
}
body.page-consultant .consultant .item .text{
	padding-left: 20px;
        padding-right:20px;
	flex:1;
}
body.page-consultant .consultant .loading{
	display: block;
	margin-bottom: 50px;
	text-align: center;

}
body.page-consultant .consultant .loading img{
	display: inline-block;
	width: 48px;
	height: 48px;
    animation-name: circle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
/*round */

@keyframes circle{
	0% {
		transform: rotate(0);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}




body.page-consultant-detail{
	background: url(../img/bg.jpg) no-repeat center top fixed #efefef;
	background-size: cover;
}
body.page-consultant-detail .consultant{
	padding: 0;
	font-size: 24px;
	color: #434343;
	background: #efefef;
}
body.page-consultant-detail .consultant .title{
	padding-top: 14px;
	padding-bottom: 8px;
}
body.page-consultant-detail .consultant .title h1{
	display: inline-block;
	color: #b31c27;
	margin: 0;
	margin-top: 2px;
}
body.page-consultant-detail .consultant .pic{
/*	height: 320px;*/
}
body.page-consultant-detail .consultant .pic .container{
	height: 320px;
	background-color: #b31c27;
}
body.page-consultant-detail .consultant .thumb{
	height: 320px;
	background: url(about:blank) no-repeat center;
	background-size:cover;
}
body.page-consultant-detail .consultant .intro{
	height: 320px;
	color: #fff;
	font-size: 14px;
	padding-top: 38px;
}
body.page-consultant-detail .consultant .intro h2{
	font-size: 20px;
}
body.page-consultant-detail .consultant .intro .a-message{
	display: block;
	margin-top: 130px;
  font-size: 20px;
  color: rgb( 0, 0, 0 );
  text-decoration: underline;
  line-height: 1;
}

body.page-consultant-detail .consultant .detail{
	font-size: 16px;
	color: rgb( 67, 67, 67 );
	line-height: 1.5;
} 
body.page-consultant-detail .consultant .detail > .container{
	background: #fff;
	padding-top: 62px;
	padding-bottom: 32px;
}

body.page-consultant-detail .consultant .share{
  font-size: 16px;
  color: rgb( 67, 67, 67 );
  line-height: 28px;
  background-color: #f0e4de;
  padding:30px;
  margin-top: 205px;
}
body.page-consultant-detail .consultant .share img{
	margin-right: 30px;
}
body.page-consultant-detail .consultant .detail p{
	margin-bottom: 25px;
}



.form{
	background: url(../img/form-bg.jpg) center bottom #b31c27 no-repeat;
	padding-top:30px;
	padding-bottom:20px;
}
.form h1{
	  font-size: 36px;
	  color: #fff;
	  line-height: 1;
	  margin: 20px 0;
}
.form .input-form{
	position: relative;
	margin-bottom: 20px;
	border-radius: 18px;
	background-color: #fff;
	overflow: hidden;
}

.form input{
	font-size: 18px;
	line-height: 36px;
	height: 36px;
	width: 100%;
	border: 0;
	padding: 0 20px;
	display: block;
}
.form .input-form span{
	position: absolute;
	color: #b31c27;
	right: 6px;
	top:10px;
	display: block;
	width: 20px;
	font-size: 30px;
	line-height: 36px;
}
.form textarea{
	font-size: 18px;
	line-height: 36px;
	height: 124px;
	width: 100%;
	border: 0;
	padding: 0 20px;
	display: block;
	resize: none;
}
.form .input-file{
	font-size: 18px;
	color:#707070;
	padding:9px 14px;
	background: url(../img/input-file.png) right bottom #eee;
}
.form .input-file em{
	font-style: normal;
	font-size: 14px;
  color: rgb( 179, 28, 39 );
  line-height: 1;
  display: block;
}
.form .input-file hr{
	margin: 10px 0;
	width: 50%;
}
.form .input-file .btn{
	background-color: #1b1b1b;
	color: #fff;
}
.form .input-file .filename{
	font-weight: normal;
}
.form .input-button{
	padding: 0;
}
.form .input-button .btn{
	margin: 0 10px;
}
.form input.err{
    background: #fee!important;
}
.form input,
.form textarea{
    color: #999;
}
.form .status{
    font-size:14px;
    line-height:3;
    color:#083903;
}
.form .status:empty{
    display: none;
}
body.page-whyarewe{
/*	background: url(../img/whyarewe-bg.jpg) center -150px fixed;
	background-size: cover;*/
}

body.page-whyarewe #bgMask{
	top:0;
	left:0;
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 630px;
	background: url(../img/whyarewe-bg.jpg) no-repeat center top;
	background-size: cover;
}
body.page-whyarewe > div{
    overflow-x: hidden;
}

body.page-whyarewe .top{
	padding-top: 112px;
	text-align: center;
	
}
body.page-whyarewe .top h1{
	font-size: 54px;
	letter-spacing: 0;
	margin-top: 0;
	margin-bottom: 30px;
}
body.page-whyarewe .top h1 del{
	opacity: 0;
}
body.page-whyarewe .top h1 .del{
	font-family: 'Helvetica Neue R';
	position: relative;
	color: #d2d2d2;
}
body.page-whyarewe .top h1 .del:after{
	content:'';
	border-top:3px solid #b31c27;
	position: absolute;
	top:40%;
	left:0;
	width: 0%;
        transition: all .5s ease-in .5s;
}
body.page-whyarewe .top h1 .del.in:after{
    width: 100%;
}
body.page-whyarewe .top .excerpt{
	font-size: 20px;
	line-height: 1.2;
	color: #b31c27;
	height: 112px;
}
body.page-whyarewe .top .content img{
	display: block;
	margin: 0 auto 35px;
}
body.page-whyarewe .top .content{
	font-size: 28px;
	line-height: 1.2;
	color: #fff;
}

body.page-whyarewe .map{
	height: 400px;
	background: #b31c27;
  font-size: 20px;
  color: rgb( 255, 255, 255 );
  line-height: 35px;
  text-align: right;
  padding-top: 42px;
  transition: background .7s;
  background-position: -1200px bottom;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
body.page-whyarewe .map .bg{
	position: absolute;
	height: 100%;
	width: 100%;
	top:0;
	left: 0;
	z-index: 1;
	transition: all .5s;
}

body.page-whyarewe .map .map-city{
    opacity: 0;
    transition:all .5s;
    position: absolute;
    z-index: 2;
}
body.page-whyarewe .map .map-city.in{
    opacity: 1;
}
body.page-whyarewe .map .map-point{
    position: absolute;
    z-index: 3;
    width:4px;
    height: 4px;
    background: #38a5c8;
    border-radius: 50%;
    opacity: 0;
    animation-name: pointShow;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
}
body.page-whyarewe .map .map-point.in{
    opacity: 1;
}
@keyframes pointShow{
	0% {
		opacity:0;
	}
	20% {
		opacity:1;
                transform:scale(2);
	}
	80% {
		opacity:1;
                transform:scale(1);
	}
	100% {
		opacity:1;
                transform:scale(1);
	}
}


body.page-whyarewe .map .bg.bg1{
	background: url(../img/Map_WAW-map.png) left top no-repeat;
/*	transform: translateX(-50%);
	opacity: 0;*/
}
body.page-whyarewe .map .bg.bg2{
	background: url(../img/Map_WAW-cities.png) left top no-repeat;
	opacity: 0;
	transition: all .5s linear .5s; 
}
body.page-whyarewe .map.in .bg{
	transform: translateX(0);
	opacity: 1;
}

body.page-whyarewe .map #mapCityText h3,
body.page-whyarewe .map #mapCityText p{
    opacity: 0;
    transform: translateX(100%);
    transition: all .5s ease-in;
}
body.page-whyarewe .map.in #mapCityText h3,
body.page-whyarewe .map.in #mapCityText p{
    opacity: 1;
    transform: translateX(0%);
}
body.page-whyarewe .map.in #mapCityText #mapCityTextLine1{
    transition-delay: 0s;
}
body.page-whyarewe .map.in #mapCityText #mapCityTextLine2{
    transition-delay: .3s;
}
body.page-whyarewe .map.in #mapCityText #mapCityTextLine3{
    transition-delay: .6s;
}
body.page-whyarewe .map.in #mapCityText #mapCityTextLine4{
    transition-delay: .9s;
}
body.page-whyarewe .map.in #mapCityText #mapCityTextLine5{
    transition-delay: 1.2s;
}

/*
body.page-whyarewe .map .container{
	position: relative;
	z-index: 10;
  	transition: transform .5s linear .5s;
	transform: translateX(100%); 
}
body.page-whyarewe .map.in .container{
	transform: translateX(0); 
}*/


body.page-whyarewe .map h3{
	color: #000;
	font-size: 20px;
	margin-bottom: 0;
}
body.page-whyarewe .map big{
  font-size: 35px;
}

body.page-whyarewe .intro{
	height: 375px;
	background: url(../img/envelope.png) center fixed #e7e7e7 no-repeat;
	font-size: 24px;
	font-family: "Helvetica Neue";
	color: #898989;
	line-height: 1;
	text-align: center;
	padding-top: 120px;
}
body.page-whyarewe .intro h3{
	color: #000;
	font-size: 32px;
	margin-top: 14px;
	margin-bottom: 48px;
}
body.page-whyarewe .intro p{
	color: #535353;
	line-height: 32px;
}
body.page-whyarewe .intro p b{
	color: #b31c27;
	font-size: 48px;
}

body.page-whyarewe .efficient{
	height: 375px;
	font-size: 32px;
	color: #b31c27;
	text-align: center;
	padding-top: 107px;
	position: relative;
	background-color:  #f4f4f4 ;
	overflow-x: hidden;
}
body.page-whyarewe .efficient .container{
	position: relative;
	z-index: 10;
}
body.page-whyarewe .efficient .bg{
	position: absolute;
	height: 100%;
	width: 100%;
	top:0;
	left: 0;
	z-index: 1;
	transition: transform .5s;
}
body.page-whyarewe .efficient .bg.bg1{
	background: url(../img/whyarewe-person-l.png) left top no-repeat;
	transform: translateX(-50%);
	opacity: 0;
}
body.page-whyarewe .efficient .bg.bg2{
	background: url(../img/whyarewe-person-r.png) right top no-repeat;
	transform: translateX(50%);
	opacity: 0;
}
body.page-whyarewe .efficient .bg.bg1.in,
body.page-whyarewe .efficient .bg.bg2.in{
	transform: translateX(0);
	opacity: 1;
}
body.page-whyarewe .efficient img{
	display: block;
	margin: 0 auto 52px;
}

body.page-whyarewe .show{
	padding-top: 80px;
	padding-bottom: 160px;
        font-size: 20px;
        color: #707070;
        line-height: 30px;
        background: #fff;
}
body.page-whyarewe .show big{
	color: #b31c27;
	font-size: 48px;
	margin-left:5px;
	margin-right:5px;
}
body.page-whyarewe .show small{
	color: #b31c27;
	font-size: 16px;
}


body.page-whyarewe .show.show-cal{
	padding-top: 160px;
}
body.page-whyarewe .show .text{
	height: 160px;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
}
body.page-whyarewe .show .text p{
	margin: 20px 0;
}

body.page-whyarewe .pool{
	background: #eeefef;
	height: 708px;
}
body.page-whyarewe .pool .overview{
	text-align: center;
	padding-top: 80px;
	padding-bottom: 40px;
	font-size: 24px;
	color: #535353;
}
body.page-whyarewe .pool h1{
	color: #b31c27;
	margin: 0;
}
body.page-whyarewe .pool .title{
	min-height: 80px;
}
body.page-whyarewe .pool .donut{
/*	margin-left: -15px;
	margin-right: -15px;*/
	position: relative;
}
/*body.page-whyarewe .pool .donut img.base{
	position:relative;
	transition: all .5s;
}
body.page-whyarewe .pool .donut img{
	max-width: 100%;
	position: absolute;
	top: 0;
	left:0;
	opacity: 0;
	transition: all .5s linear .5s;
}
body.page-whyarewe .pool .donut img.in{
	opacity: 1;
}*/


body.page-whyarewe .topranking{
	font-size: 24px;
	line-height: 30px;
	color: #fff;
	text-align: center;
	position: relative;
	height: 550px;
	background-color: rgba(0,0,0,.8);
}
body.page-whyarewe .topranking .bg{
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top:-250px;
	left:0;
	background: url(../img/whyarewe-topranking.jpg) center top no-repeat;
	background-size: cover;
}

body.page-whyarewe .topranking h1{
	font-size: 40px;
	margin:0 0 35px;
	color: #b31c27;
}
body.page-whyarewe .topranking .text{
	height: 550px;

	  display: -webkit-flex;
	  display: flex;
  -webkit-align-items: center;
          align-items: center;
}
body.page-whyarewe .topnotch{
	font-size: 20px;
	line-height: 25px;
	color: #535353;
	text-align: center;
	background: #eeefef;
	height: 640px;
}

body.page-whyarewe .topnotch h1{
	font-size: 32px;
	margin:0 0 10px;
	color: #b31c27;
	letter-spacing: 0;
}
body.page-whyarewe .topnotch .text{
	padding-top: 73px;
}

body.page-whyarewe #animate1{
	transform: translateX(-100%);
	opacity: 0;
	transition: all .5s;
}
body.page-whyarewe #animate1.in{
	transform: translateX(0);
	opacity: 1;
}
body.page-whyarewe #animate1 i{
    position: absolute;
    left: 18%;
    top: 37%;
    width: 20px;
    height:20px;
    border-radius: 2px;
    background-color: rgba(232,232,232,1);
    animation-name: cal_dot;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    opacity: 0;
}
body.page-whyarewe #animate1 i.i2{
    animation-delay: .3s;
    left: 41%;
    top: 37%;
}
body.page-whyarewe #animate1 i.i3{
    animation-delay: .6s;
    left: 64%;
    top: 37%;
}
body.page-whyarewe #animate1 i.i4{
    animation-delay: .9s;
    left: 18%;
    top: 62%;
}
body.page-whyarewe #animate1 i.i5{
    animation-delay: 1.2s;
    left: 41%;
    top: 62%;
}
body.page-whyarewe #animate1 i.i6{
    animation-delay: 1.5s;
    left: 64%;
    top: 62%;
}
body.page-whyarewe #animate1.in i{
/*    opacity: 1;*/
}   
@keyframes cal_dot{
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
	80% {
		opacity: 0;
	}
}




body.page-whyarewe #animate3.in{
	transform: translateX(0);
	opacity: 1;
}



body.page-whyarewe #textfade1{
	opacity: 0;
	transition: all .5s linear .6s;
}
body.page-whyarewe #textfade1.in{
	opacity: 1;
}

body.page-whyarewe #animate2{
	transform: translateX(100%);
	opacity: 0;
	transition: all .5s linear .6s;
        position: relative;
}
body.page-whyarewe #animate2.in{
	transform: translateX(0);
	opacity: 1;
}
body.page-whyarewe #animate22{
	animation-name: clock;
        animation-duration: 12s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
}

@keyframes clock{
	0% {
            transform: rotate(0);
	}
        100%{
            transform: rotate(360deg);
        }
}



body.page-whyarewe #textfade2{
	opacity: 0;
	transition: all .5s;
}
body.page-whyarewe #textfade2.in{
	opacity: 1;
}

body.page-whyarewe #animate3{
	transform: translateX(-100%);
	transition: all .5s;
	opacity: 0;

	animation-name: timer;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}
body.page-whyarewe #animate3.in{
	transform: translateX(0);
	opacity: 1;
}


@keyframes timer{
	0% {
		transform: rotate(-180deg);
	}
	20% {
		transform: rotate(0deg);
	}
	80% {
		transform: rotate(0deg);
	}
}

body.page-whyarewe #textfade3{
	opacity: 0;
	transition: all .5s linear .6s;
}
body.page-whyarewe #textfade3.in{
	opacity: 1;
}


body.page-news{
	background: url(../img/news-bg.png) no-repeat center top #eee;
}
body.page-news .banner{
	padding-top:160px;
	height: 205px;
	background: none;
}
body.page-news .banner .breadcrumb{
	background-color: transparent;
	color:#b31c27;
}
body.page-news .banner .breadcrumb a{
	color:#b31c27;
}
body.page-news .banner .breadcrumb > .active{
	color:#b7b7b7;
}

section.sec-news-detail{
    margin-bottom: 40px;
}
section.sec-news-detail .container{
	background: #fff;
}
section.sec-news-detail h1{
    color:#b72a34;
    font-size: 28px;
    line-height: 40px;
    margin: 0;
    padding:20px 0;
}
.row-title{
    border: 1px solid #d7d7d7;
    background: #fafafa;
}
.row-content{
    border: 1px solid #d7d7d7;
    border-top:0;
}
.row-title .news-date{
    color:#555;
    font-size: 14px;
    line-height: 80px;
    height: 80px;
}
.row-title .news-date big{
    font-size: 30px;
    line-height: 80px;
    color:#b72a34;
    display: inline-block;
}
section.sec-news-detail .col-md-10{
    border-right: 1px solid #d7d7d7;
    padding:0 40px;
}
section.sec-news-detail article{
    margin:40px 0;
    font-size: 14px;
    line-height: 27px;
    color: #636363;
}
section.sec-news-detail article em strong{
    color:#005aa0;
}
.row-content .news-back a{
    line-height: 80px;
    display: inline-block;
    vertical-align: top;
    color: #555;
}
.row-content .news-back big{
    font:italic 30px/80px 'Georgia';
    color:#b72a34;
    display: inline-block;
    vertical-align: bottom;
    margin-top:20px;
}


.headline{
  font-size: 18px;
  color: rgb( 112, 112, 112 );
  line-height: 1.595;
  padding:18px 0 12px;
  border-bottom: 1px solid #dbdbdb;
  background-color: #efefef;
  height: auto;
}
.headline a{
	color: inherit;
}
.headline a.btn{
	color: #fff;
}
.headline h1{
	color:#b31c27;
	margin: 0;
	line-height: 1;
}


.headline2{
  font-size: 18px;
  color: #707070;
  line-height: 1.595;
  padding:38px 0 12px;
  border-top: 1px solid #dbdbdb;
  height: auto;
}
.headline2 a{
	color: inherit;
}
.headline2 a.btn{
	color: #fff;
}
.headline2 h1{
	margin: 0;
	line-height: 1;
}
.headline2 big{
	color: #b31d27;
	font-size: 40px;
	line-height: 36px;
	margin-right: 5px;
}




body.page-news-list{
	background-color: #eee;
}
body.page-news-list .news{
	height: auto;
        background: none;
}
body.page-news-list .news .title{
  font-size: 18px;
  color: rgb( 112, 112, 112 );
  line-height: 1.595;
  padding:18px 0 12px;
  border-bottom: 1px solid #dbdbdb;
  background-color: #efefef;
  height: auto;
}
body.page-news-list .news .title a{
	color: inherit;
}
body.page-news-list .news .title a.btn{
	color: #fff;
}
body.page-news-list .news .title h1{
	color:#b31c27;
	margin: 0;
	line-height: 1;
}

body.page-news-list .news .list{
	background-color: #fff;
	padding: 30px 15px;
	margin:30px 0;
	display: flex;
        cursor: pointer;
}
body.page-news-list .news .list .img-box{
	flex:5;
	padding-left:15px;
	padding-right:15px;
	overflow:hidden;
}
body.page-news-list .news .list .img-box img{
	height: 260px;
}
body.page-news-list .news .list .excerpt{
	flex:5;
	padding:10px 15px 0 ;
}
body.page-news-list .news .list h4{
  font-size: 18px;
  color: rgba( 67, 67, 67, 0.98 );
  line-height: 1;
}
body.page-news-list .news .list h2{
  font-size: 32px;
  color: rgb( 179, 28, 39 );
}
body.page-news-list .news .list .date{
  font-size: 16px;
  color: rgba( 183, 183, 183, 0.98 );
  line-height: 1.125;
  height: auto;
  padding: 0;
  text-align: left;
}
body.page-news-list .news .list p{
  font-size: 16px;
  color: rgba( 99, 99, 99, 0.98 );
  line-height: 1.5;
  height: 90px;
}
body.page-news-list .news .list.no-img .category{
	flex:1;
	padding-top: 21px;
	text-align: center;
}
body.page-news-list .news .list .excerpt{
	flex:9;
}

body.page-news-list  .loading{
	display: block;
	margin-bottom: 50px;
	text-align: center;

}
body.page-news-list .loading img{
	display: inline-block;
	width: 48px;
	height: 48px;
    animation-name: circle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}



body.page-whoarewe{
	background: #efefef;
}
body.page-whoarewe .banner{
	background-image: url(../img/banner-whoarewe.jpg);
}

body.page-whoarewe .headline{
	border-bottom: 0;
}

body.page-whoarewe .main-box{
	background-color: #fff;
	padding-top: 40px;
}

body.page-whoarewe .main-box h2{
  font-size: 28px;
  color: rgb( 67, 67, 67 );
  margin: 0;
}
body.page-whoarewe .main-box menu {
  font-size: 16px;
  color: rgb( 112, 112, 112 );
  line-height: 2.5;
  padding: 0;
  padding-left: 10px;
  margin-top: 45px;
}
body.page-whoarewe .main-box menu a{
	color: inherit;
}
body.page-whoarewe .main-box article{
  font-size: 16px;
  color: rgba( 27, 27, 27, 0.98 );
  line-height: 1.5;
  padding: 0 12.5%;
  border-left: 1px solid #dbdbdb;
  min-height: 360px;
}
body.page-whoarewe .main-box  .share{
	width: 33.333333%;
}









body.page-submit{
	background: #fff;
}
body.page-submit .banner{
	background-image: url(../img/banner-whoarewe.jpg);
}

body.page-submit .headline{
	border-bottom: 0;
}

body.page-submit .main-box{
	background-color: #fff;
	padding-top: 0;
	padding-bottom: 60px;
}
body.page-submit .form{
	background: none;
	padding: 0;
}
body.page-submit .form .input-form{
	background: #eee;
	border: 1px solid #c8c8c8;
}
body.page-submit .form label{
  font-size: 24px;
  color: rgb( 112, 112, 112 );
  line-height: 1.127;
  margin-top: 30px;
}

body.page-submit .form input,
body.page-submit .form select,
body.page-submit .form textarea{
	background: transparent;
	outline: none;
}
body.page-submit article h3{
	margin-top: 30px;
	margin-bottom: 30px;
  font-size: 20.024px;
  font-family: "Helvetica Neue";
  color: rgba( 179, 28, 39, 0.98 );
  line-height: 1.2;
}
body.page-submit article{
  color: #434343;
  line-height: 1.714;
}

body.page-submit .joblist{
}

body.page-submit .joblist .item{
  font-size: 28px;
  color: #434343;
  padding:30px 0;
	border-bottom: 1px solid #dbdbdb;
	border-top: 1px solid #dbdbdb;
}
body.page-submit .joblist .item + .item{
	border-top: none;
}
body.page-submit .joblist .item .sq{
	height: 100px;
	width: 100%;
	display: block;
	background:#b31c27;
}
body.page-submit .joblist .item .title{
  font-size: 28px;
  color: #b31c27;
  text-align: left;
  display: block;
}
body.page-submit .joblist .item address{
  font-size: 16px;
  color: rgba( 183, 183, 183, 0.98 );
  text-transform: uppercase;
  line-height: 1.125;
  display: block;
  margin-bottom: 0;
}
body.page-submit .joblist .item .share{
	background: none;
	border-left: 1px solid #dbdbdb;
}




 .share{
  font-size: 16px;
  color: rgb( 67, 67, 67 );
  line-height: 28px;
  background-color: #f0e4de;
  padding:30px;
  text-transform: uppercase;
 }
 .share img{
 	margin-right: 25px;
 }
.btn-group.select{
	width: 228px;
}
.btn-group.select .btn{
	display: block;
	width: 100%;
	background-color:#efefef;
	border: 1px solid #cacaca;
	text-align: left;
}
.btn-group.select .btn:focus,
.btn-group.select .btn:active,
.btn-group.select .btn:hover{
	border-color: #efefef;
	box-shadow: none;
}
.btn-group.select.open > .dropdown-menu{
	width: 100%;
	background-color:#efefef;
	margin-top: 0;
	box-shadow: none;
}
.btn-group.select .btn i{
	position: absolute;
	right: 20px;
	top:10px;
}
#svg {
	width: 100%;
  height: 300px;
}
#svg2 {
	width: 100%;
  height: 300px;
}
/*#test{
	position: absolute;
	top:0;
	left: 0;
	z-index: -1;
	width: 100%;
	height:9999px;
	background: url(../bg4.jpg) no-repeat center 0;
	background-size:1200px auto;
	opacity: .5;
}*/



body.page-workwithus{
    background: url(../img/bg-workwithus.jpg) top center #eee;
    background-size: 100% auto;
}
body.page-workwithus .headline{
    margin-top: 100px;
    background: none;
    border: 0;
    padding:0;
}
body.page-workwithus .headline .col{
    background: #efefef;
    padding-top:18px;
    padding-bottom:12px;
}
body.page-workwithus .video-box{
    height: 415px;
}
body.page-workwithus .video-box .col{
    background: #000;
    padding:0;
}

body.page-workwithus .video-box video{
    height: 415px;
    width: auto;
    display: block;
    margin: auto;
}
body.page-workwithus  .form-box{
    background: #eee;
}
body.page-workwithus .form-box .col{
    background: #fff;
    display: flex;
}

body.page-workwithus  .form{
    background: none;
    color:#707070;
    flex:1;
}
body.page-workwithus  .content-box{
    flex:1;
    padding-left: 25%;
}

body.page-workwithus .form .input-form{
	background: #eee;
	border: 1px solid #c8c8c8;
}
body.page-workwithus.form label{
  font-size: 24px;
  color: rgb( 112, 112, 112 );
  line-height: 1.127;
  margin-top: 30px;
}

body.page-submit .form input,
body.page-submit .form select,
body.page-submit .form textarea{
	background: transparent;
	outline: none;
}