h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
    color:inherit;
}
.container.cms-box{
    border:1px solid #000;
    margin-top: -1px;
    padding:20px;
}
.navbar{
}
.grey-block{
    background:#ccc;
}
.btn-outline-inverse {
    color: #000;
    background-color: #fff;
    border-color: #000;
}
.w50{width:50px!important;}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle;
}

form{
    line-height: 34px;
}
form .color-menu{
    font-size: 12px;
    line-height:17px;
}
.widget-box{
    border:1px solid #f0ad4e;
}
.widget-title{
    background:#f0ad4e;
    color:#fff;
    padding:10px;
    font-size: 20px;
}
.widget-box .table{
    margin:0;
}
.widget-box .pagination{
    margin:0;display: block;
}
.widget-box .form-group{
    margin:0;display: block;
}
.widget-button{
    padding:10px;
}


em.error,input.error{
    color:#d9534f;
}
textarea.error,
select.error,
input.error{
    border:1px solid #d9534f;
    
}

.navbar-nav>li>a{
    text-align: center;
    font-size: 10px;
    padding-left:5px;
    padding-right:5px;
    
}
.navbar-nav>li>a span{
    font-size: 24px;
    line-height: 20px;
}
.navbar-dark{
    background-color: #333;
    border-color: #000;
    color: #ccc;
    border-radius:0;
}
.navbar-dark .navbar-nav>li>a:hover, .navbar-dark .navbar-nav>li>a:focus{
    color: #ccc;
    background-color: transparent;
}
.navbar-dark .navbar-nav>li>a{
    color: #fff;
}
.navbar-dark .navbar-collapse, .navbar-dark .navbar-form{
    border-color: #000;
}


/* tables */
table.tablesorter {
}
table.tablesorter thead tr th, 
table.tablesorter tfoot tr th, 
table.tablesorter thead tr td, 
table.tablesorter tfoot tr td {
    text-align: left;
    font-weight: bold;
}
table.tablesorter thead tr .header {
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#efefef;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #eee;
}

.navbar{
    border-radius: 0;
    text-transform: uppercase;
}
.navbar-brand{
    padding:0 15px;
}


.room_box ul li{
    list-style: none;
}
.room_box ul li.folder > ul{
    display:none;
}
.room_box ul li.folder.ext > span > i{
    transform:rotate(90deg);
}
.room_box ul li.folder.ext > ul{
    display:block;
}
.room_box ul li span{
    display:block;
}
.room_box ul li span a{
    display: none;
    font-size:10px;
    margin: 0 3px;
}
.room_box ul li span:hover a,
.room_box ul li span:active a{
    display: inline-block;
}