@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td,samp{ margin: 0; padding: 0;}
body{ width:100%;}
table { border-collapse: collapse; border-spacing: 0 }

img { border: 0 }
ol, ul { list-style: none }
li{ vertical-align: top; list-style:none;}
 th { text-align: left }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; }
input[type="checkbox"]{ vertical-align:text-top; }
input, textarea, select { *font-size:100%}
input{ padding:0 3px; color:#333; }

/* link css */
a {color:#2b2b2b; text-decoration:none; outline:none; -moz-outline:none;star:expression(this.onFocus=this.blur()); /* for Ie*/ }
a:visited {text-decoration:none;}
a:active {color:#ba2636;}
a:hover {color:#ba2636; text-decoration:underline;}
a:focus{ outline:none; -moz-outline:none;}
.clearfix:after {content: "."; display: block; height: 0; clear: both;visibility: hidden;}
*html .clearfix {height: 1%;}
*+html .clearfix {min-height: 1% ;}
input,button,select,textarea{ outline:none;} 
textarea{ font-size:12px; resize:none;padding:2px;} 


article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}

*{ margin:0; padding:0; }
body *{ -webkit-text-size-adjust:none; -ms-touch-action: none; } /* Google Chrome min. font size fix */

.clear {
clear: both;
font-size: 0;
line-height: none;
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
}

