/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-3-12, 0:28:16
    Author     : xavizhou
*/
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeueLTPro-Roman.eot');
	src: localprofile-menu('☺'), 
            url('../fonts/HelveticaNeueLTPro-Roman.woff') format('woff'), 
            url('../fonts/HelveticaNeueLTPro-Roman.ttf') format('truetype'), 
            url('../fonts/HelveticaNeueLTPro-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeueLTPro-Th.eot');
	src: local('☺'), 
            url('../fonts/HelveticaNeueLTPro-Th.woff') format('woff'), 
            url('../fonts/HelveticaNeueLTPro-Th.ttf') format('truetype'), 
            url('../fonts/HelveticaNeueLTPro-Th.svg') format('svg');
	font-weight: lighter;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadPro-Light';
	src: url('../fonts/MyriadPro-Light.eot');
	src: local('☺'), url('../fonts/MyriadPro-Light.woff') format('woff'), url('../fonts/MyriadPro-Light.ttf') format('truetype'), url('../fonts/MyriadPro-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Exotic350BT-DemiBold';
	src: url('../fonts/Exotic350BT-DemiBold.eot');
	src: local('☺'), url('../fonts/Exotic350BT-DemiBold.woff') format('woff'), url('../fonts/Exotic350BT-DemiBold.ttf') format('truetype'), url('../fonts/Exotic350BT-DemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
    font-family:'MyriadPro-Light','Arial';
}
h2{
    font-family: 'Exotic350BT-DemiBold';
    text-transform: uppercase;
    font-size: 36px;
    line-height: 30px;
    color:#005aa0;
   
}
h3{
    text-transform: uppercase;
    font-size: 32px;
    line-height: 30px;
    color:#005aa0;
   
}
h4{
    font-family: 'Helvetica Neue';
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    color:#7d7d7d;
   
}
a{
    color:#555;
}
.col-20{
    width:20%;
    float: left;
    padding:0 15px;
}
.col-xs-20{
    width:20%;
    float: left;
    padding:0 15px;
}
.col-md-offset-05{
    margin-left:4.1666666666%;
}

.navbar{
    border-radius: 0;
}
.half-container{
    width:600px;
}
header{
    width:100%;
    z-index: 99;
    position: absolute;
    top:0;
}
header nav{
    background: #fff;
    font-size:14px;
    color:#555;
}
.navbar-nav>li>a{
    font:lighter 14px/16px 'Helvetica Neue';
}
.navbar-nav>li>a:hover,
.navbar-nav>li>a.active{
    background:transparent;
    border-bottom: 4px  solid #005aa0;
    padding-bottom: 11px;
}
header .split{
    border-bottom:1px solid #cfcfcf;
    margin:0 -15px;
}
header .navbar-header{
    position:absolute;
    top:0;
    left:0;
    background: #fff;
}
header .navbar-brand{
    height:auto;
    padding:11px 15px;
    border-right: 1px solid #cfcfcf;
}
header .navbar-brand img{
    display: block;
    height: 72px;
}
header .navbar-brand.navbar-brand-sh{
    padding:9px 15px 6px;
}
header .navbar-brand .navbar-brand-sh-logo{
    padding:0;
}
header .navbar-brand .navbar-brand-sh-logo img{
    display: block;
    height: 54px;
}
header .navbar-ext{
    padding:3px 0 4px;
    display: block;
}
header .navbar-ext img{
    display: block;
    height: 18px;
}
header .navbar-nav .split-v{
    border-left:1px solid #cfcfcf;
    margin-left: 10px;
}
header .navbar-nav .split-v span{
    display: block;
}
header .navbar-nav.nav-lang>li.split-v>a{
    padding:16px;
}
header .nav-lang a{
    font-family: 'Myriad Pro','Arial';
}
.navbar-nav.nav-lang>li>a{
    padding:15px 5px;
    border-bottom: 0;
}
.navbar-nav.nav-lang>li>a:hover,
.navbar-nav.nav-lang>li>a:focus,
.navbar-nav.nav-lang>li>a.active{
    background: transparent;
    color:#005aa0;
}

hr.split{
    margin-top:26px;
    margin-bottom:46px;
}
article{
    font:lighter 16px/30px 'Helvetica Neue';
    color:#636363;
/*    text-transform: uppercase;*/
}

.btn{
    font-size: 16px;
    padding-top:8px;
    padding-bottom:4px;
}



.sec-contact .map{
    height:300px;
    max-width:100%;
    margin:10px 10px 200px;
}
.sec-contact .map iframe{
    max-width:100%;
}
.sec-contact .sec-contact-lt{
    width:50%;
    height:260px;
    float:left;
    background: #f8f8f8;
}
.sec-contact .sec-contact-rt{
    width:50%;
    height:260px;
    float:right;
    background: #fff;
}
.sec-contact .sec-contact-lt .half-container{
    padding:0 70px 0 20px;
    margin-right: 0;
    margin-left: auto;
}
.sec-contact .sec-contact-rt .half-container{
    padding:0 20px 0 70px;
    margin-left: 0;
    margin-right: auto;
}

.sec-contact  h2{
    margin-bottom:15px;
    font-size: 32px;
}

.sec-contact .sec-contact-lt h2{
    color:#000;
}
.sec-contact .sec-contact-form .lt{
    width:50%;float:left;padding-right:5px;
}
.sec-contact .sec-contact-form .rt{
    width:50%;float:right;padding-left:5px;
}

.form-input,
.form-textarea{
    color:#b7b7b7;
    font-size:12px;
    line-height:30px;
    border-bottom:1px solid #989898;
    margin-bottom:30px;
}
.form-input label{
    display:inline-block;
    width:60px;
    color:#005aa0;
    margin: 0;
}
.form-input input{
    display:inline-block;
    width:170px;
    font-size:12px;
    line-height:30px;
    background:transparent;
    border:0;
    padding:0 5px;
    outline:0;
}
.form-input input:focus{
    background:rgba(255,255,255,.1);
}
.form-textarea label{
    width:100%;
    display:block;
    border-bottom:1px solid #989898;
}
.form-textarea textarea{
    width:100%;
    background:transparent;
    border:0;
    padding:5px;
    outline:0;
    height:55px;
    display:block;
}
.form-textarea textarea:focus{
    background:rgba(255,255,255,.1);
}
.form-button{
    text-align:right;
}
.form-button a.btn{
    padding:5px 30px;
}

.sec-contact .sec-contact-info span{
    color:#015ca3;
    margin-right:1em;
}
.sec-contact .sec-contact-info hr{
    border-top-color: #989898;
}

a.a-linkin{
    font-size:16px;
}
a.a-linkin img{
    display: inline-block; 
    margin-right:1em;
}

footer {
    background: #1e1e1e;
    color:#636363;
    font-size: 12px;
    line-height: 20px;
    padding:25px 0;
}
footer a{
    color:#cfcfcf;
    margin-left:20px;
}


.banner{
    background: url(../img/banner.jpg) no-repeat center top;
    height:208px;
    background-size: cover;
}
.banner .breadcrumb{
    margin-top: 150px;
    margin-bottom:0;
    color:#fff;
    font-size:16px;
    background-color:transparent;
    padding:0;
}
.banner .breadcrumb a{
    color:#fff;
}
.banner .breadcrumb>li{
    vertical-align: top;
    line-height: 1;
    text-transform: capitalize;
}
.banner .breadcrumb>li+li:before{
    color:#fff;
    font-size: 16px;
    vertical-align: top;
    margin-right:10px;
}
.banner .breadcrumb>.active{
    font-size:36px;
    color:#fff;
}

.grey{
    background: #f8f8f8;
}
.w_g{
    border-bottom:1px solid #c9c9c9;
  background-image: -webkit-linear-gradient(left, #fff 0%, #fff 50%,#f8f8f8 50%,#f8f8f8 100%);
  background-image: -o-linear-gradient(left, #fff 0%, #fff 50%,#f8f8f8 50%,#f8f8f8 100%);
  background-image: linear-gradient(to right, #fff 0%, #fff 50%,#f8f8f8 50%,#f8f8f8 100%);
}
.g_w{
    border-bottom:1px solid #c9c9c9;
  background-image: -webkit-linear-gradient(right, #fff 0%, #fff 50%,#f8f8f8 50%,#f8f8f8 100%);
  background-image: -o-linear-gradient(right, #fff 0%, #fff 50%,#f8f8f8 50%,#f8f8f8 100%);
  background-image: linear-gradient(to left, #fff 0%, #fff 50%,#f8f8f8 50%,#f8f8f8 100%);
}
.line{
    width:120px;
    background:#005aa0;
    height:4px;
    position:absolute;
}

/*HOMEPAGE*/

body.homepage{
    background: url(../img/bg.jpg) no-repeat center top fixed;
}
body.homepage header{
    width:100%;
    z-index: 99;
    position: absolute;
    top:720px;
}
body.homepage header.fixed{
    position: fixed;
    top:0;
}

section.sec-mask{
    height:1440px;
    
}
section img.transparent{
    opacity: 0;
}

section.sec-content{
    background:#fff;
    padding:50px 0 70px;
}
section.sec-content h2{
    font-family:'MyriadPro-Light','Arial';
}

.icon-group {
    margin-top:85px;
}
.icon-group img{
    display: block;
    margin: auto;
}
.icon-group h4{
    line-height: 48px;
    margin-top:18px;
}
section.sec-porfolio{
    background: #f8f8f8;
    padding:47px 0 67px;
}
section.sec-porfolio h2{
    font-family: 'Exotic350BT-DemiBold';
    margin-bottom: 20px;
}



section.sec-news{
    background: url(../img/bg-news.jpg) no-repeat top center;
    height:600px;
    padding:105px 30px 0;
}
section.sec-news h3{
    font-family: 'Exotic350BT-DemiBold';
    margin-bottom: 10px;
}
section.sec-news .date{
    font-size: 14px;
    color: #b7b7b7;
    font-style: italic;
    margin-bottom:15px;
}

section.sec-news article{
    font-size:12px;
    line-height: 26px;
}
section.sec-news article .btn-primary{
    background: #636363;
    border:1px solid #636363;
}
section.sec-news .carousel-inner{
    padding:0 70px 50px;
}
section.sec-news .carousel-indicators{
    bottom: auto;
    top: 45px;
    position: relative;
    margin-bottom:100px;
    
}
section.sec-news .carousel-indicators .active{
    background: #015ca3;
    margin:0px 10px;
}
section.sec-news #carousel-example-generic{
    background:#fff;
}
section.sec-news .carousel-indicators li{
    background: #fff;
    margin:1px 11px;
    
    border: 1px solid #7b7b7b;
}

#carousel-porfolio .carousel-control.left,
#carousel-porfolio .carousel-control.right{
    background: none;
    width:1%;
    min-width: 20px;
    color:#000;
}
/*HOMEPAGE*/

/*HOME BJ*/
body.homepage-bj{
    background: url(../img/bg-bj.jpg) no-repeat center top fixed;
}
section.sec-mask-bj{
    height:720px;
    background:url(../img/home-cover-bj.png) top center no-repeat;
}
/*HOME BJ*/


/*ABOUT US*/
section.sec-text{
    padding:30px 0 34px;
    color:#636363;
    font-size:20px;
    line-height: 36px;
}
section.sec-text p{
    margin: 36px auto;
}

section h2 {
    color:#005aa0;
    font-size: 28px;
}
section h2 b,section h2 strong{
    display: inline-block;
    border-top: 4px solid #005aa0;
    padding:36px 0;
}
section.sec-concept p{
    margin-bottom: 100px;
    color:#636363;
    font-size:20px;
    line-height: 36px;
}
section.sec-concept h2{
    margin-top:0;
}
section.sec-invest{
    color:#636363;
    font-size:18px;
    line-height: 36px;
    padding-bottom: 40px;
}
section.sec-invest h2{
    margin-top:0;
}
section.sec-invest small{
    font-size:16px;
}
section.sec-invest p b{
    color: #005aa0;
}
/*ABOUT US*/


/*SERVICE*/
body.service .banner{
    background-image: url(../img/banner-service.jpg);
}
section.sec-service .container{
    position: relative;
}
section.sec-service article{
    margin:50px;
}
section.sec-service .title{
    margin:50px -15px 0 15px;
    padding: 0 50px 30px 0;
    color:#005aa0;
    border-bottom: 1px solid #cecece;
    font-size: 18px;
    line-height:32px;
}
section.sec-service .title.rt{
    margin:50px 15px 0 -15px;
    padding: 0 0 30px 50px;
    text-align: right;
}
section.sec-service .corner{
    background-image:url(../img/service-corner.png);
    background-repeat: no-repeat;
    background-position: top right;
}
section.sec-service .line{
    width:120px;
    background:#005aa0;
    height:4px;
    position:absolute;
    bottom:0;
    left:15px;
}
section.sec-service .line.rt{
    right:15px;
    left:auto;
}
/*SERVICE*/

/*CONTACT*/
body.contactus .banner{
    background-image: url(../img/banner-contact.jpg);
}
section.sec-contact .col-loc{
    border-left: 1px solid #ebe8e6;
    padding:0;
/*    height:500px;*/
}
section.sec-contact .col-loc.bj{
    background:url(../img/bg_contact_bj.png) bottom right no-repeat;
}
section.sec-contact .col-loc.sh{
    background:url(../img/bg_contact_sh.png) bottom right no-repeat;
}
section.sec-contact .col-loc.sz{
    background:url(../img/bg_contact_sz.png) bottom left no-repeat;
}
section.sec-contact .col-loc.us{
    background:url(../img/bg_contact_us.png) bottom left no-repeat;
}
section.sec-contact .col-loc .line{
    top:0;
    left:70px;
}
section.sec-contact .col-loc:first-child{
    padding-left:0px;
    border-left: 0;
}
section.sec-contact .col-loc:first-child .col-loc-text{
    padding-left:0px;
}
section.sec-contact .col-loc:first-child .line{
    left:0;
}
section.sec-contact .col-loc p{
    margin:0;
}
.col-loc-text{
    height:400px;
    padding:70px 25px;
}
section.sec-apply{
    background-color: #005aa0;
    color:#fff;
    line-height: 1;
    font-size:20px;
    padding:50px 0;
    border-top:1px solid #fff;
}
section.sec-apply a{
    color:#fff;
    text-decoration: underline;
}
/*CONTACT*/


/*TEAM*/
body.team{
    background-color:#f8f8f8;
}
body.team .banner{
    background-image: none;
    height:160px;
}
section.sec-team .col-md-3{
    padding:0;
}
section.sec-team .col-md-3 img{
    max-width: 100%;
    display: block;
    border-bottom:1px solid #efedeb;
}
section.sec-team .col-md-3 .line{
    width:90px;
}
section.sec-team .col-md-3 article{
    padding: 0 10% 50px;
    position: relative;
}
body.team .banner .breadcrumb a{
    color:#959595;
}
body.team .banner .breadcrumb>li+li:before{
    color:#959595;
}
body.team .banner .breadcrumb>.active{
    color:#005aa0;
}
body.team h2{
    margin-top:0;
    margin-bottom: 5px;
    padding-top:20px;
}
body.team .option{
    font-size: 16px;
    font-style: italic;
    color:#898989;
    margin-bottom:40px;
}

body.team{
    background-color:#f8f8f8;
}
body.team .banner{
    background-image: none;
}
section.sec-team {
    padding-top:20px;
}
section.sec-team .col-person{
    padding:0;
    border-bottom:1px solid #efedeb;
    position:relative;
}
section.sec-team .col-person.inactive img{
    opacity: .3;
}
section.sec-team .col-person img{
    display: block;
    max-width: 280px;
    height:auto;
    margin:0 auto;
}
section.sec-team .col-person a{
    display: block;
    margin:0 auto;
}
section.sec-team .col-person.first a{
/*    margin:0 -60px 0 -20px;*/
}
section.sec-team .col-person.last a{
/*    margin:0 -20px 0 -60px;*/
}
section.sec-team img.img-team{
    max-width:320px;
    margin: 0 auto 20px;
}
section.sec-desc{
    background:#fff;
}
section.sec-desc .person-desc{
    padding:20px 0;
    position: relative;
}
section.sec-desc .person-desc .close{
    position: absolute;
    top:40px;
    left:0;
    font-size: 40px;
}

body.team .banner .breadcrumb a{
    color:#959595;
}
body.team .banner .breadcrumb>li+li:before{
    color:#959595;
}
body.team .banner .breadcrumb>.active{
    color:#005aa0;
}
body.team h2{
    margin-top:0;
    margin-bottom: 5px;
    padding:40px 0;
}
body.team h1{
    margin-top:0;
    margin-bottom: 5px;
    padding:40px 0 0;
    color:#005aa0;
}
body.team .option{
    font-size: 16px;
    font-style: italic;
    color:#898989;
    margin-bottom:40px;
}
body.team .banner-team{
    height:140px;
}
body.team .banner-team .breadcrumb{
    margin-top:120px;
}


section.sec-team-sh .team-desc{
    height:160px;
}
section.sec-team-sh .team-desc .name{
    font-size: 32px;
    color:#005aa0;
}
section.sec-team-sh .team-desc .col-md-10{
    border-left:1px solid #afafaf;
    padding-left:50px
}
section.sec-team-sh .team-content{
    margin:0 15px 0 45px;
}
section.sec-team-sh .team-content .person{
    float:left;
    width:10%;
    line-height: 1;
    padding:0 10px;
}
section.sec-team-sh .team-content .person .name{
    color:#005aa0;
    height:60px;
    font-size: 22px;
}
section.sec-team-sh .team-content .person .option{
    font-size: 16px;
    color:#898989;
    height:60px;
}
section.sec-team-sh .team-person{
    position: relative;
}
section.sec-team-sh .team-person .person{
    position: absolute;
    top:0;
    left:0;
    cursor: pointer;
}
section.sec-team-sh .team-person .person.person-0{
    position: relative;
    top:0;
    left:0;
    z-index: 1;
    opacity: 0;
}
section.sec-team-sh .team-person .person.person-1{z-index: 1;}
section.sec-team-sh .team-person .person.person-2{z-index: 2;}
section.sec-team-sh .team-person .person.person-3{z-index: 3;}
section.sec-team-sh .team-person .person.person-4{z-index: 4;}
section.sec-team-sh .team-person .person.person-5{z-index: 5;}
section.sec-team-sh .team-person .person.person-6{z-index: 4;}
section.sec-team-sh .team-person .person.person-7{z-index: 3;}
section.sec-team-sh .team-person .person.person-8{z-index: 2;}
section.sec-team-sh .team-person .person.person-9{z-index: 1;}
section.sec-team-sh .team-person .person.person-10{z-index: 1;}
section.sec-team-sh .team-person .person img{
    width:auto;
    max-height: 100%;
    max-width: 100%;
}
/*TEAM*/




/*INVEST*/
body.invest .banner{
    background-image: url(../img/banner-invest.jpg);
}
.nav-result{
    margin-bottom:0;
    margin-right: 30px;
    font-size:16px;
}
.nav-result big{
    font-size: 38px;
    color:#015ca3;
}
section.sec-filter .navbar{
    padding:20px 0;
}
section.sec-filter .btn{
    margin: 0 2px;
}
section.sec-invest-list .item{
    padding:50px 0;
}
section.sec-invest-list article{
    font-size:12px;
    line-height: 18px;
}
section.sec-invest-list h2{
    margin-top:0;
}
section.sec-invest-list img{
    display: block;
    margin: 0 auto;
    max-width: 160px;
}

section.sec-invest-list.list .col-detail{
    display:none!important;
}
section.sec-invest-list.list .row.item{
    float:left;
    width:25%;
    margin:0;
    padding:20px 0;
}
section.sec-invest-list.list .row.item .col-logo{
    width:100%;
}
section.sec-invest-list.list .row.item .col-logo a{
    margin:10px;
    border:1px solid #ccc;
    display: block;
}
section.sec-invest-list.list .row.item .col-logo a article{
    display: none;
    color:#005aa0;
    font-size: 14px;
}
section.sec-invest-list.list .row.item .col-logo img{
    max-width: 100%;
}
section.sec-invest-list.list .row.item .col-logo a:hover img{
    opacity: .1;
}
section.sec-invest-list.list .row.item .col-logo a:hover article{
    display: block;
    position:absolute;
    top:0;left:0;
    padding:30px 40px;
    z-index:10;
    height:100%;
    width:100%;
}
section.sec-invest-list.list .row.item .col-logo a:hover article .more{
    font-weight: bold;
    margin-top:20px;
}
body.invest #btnSwitch{
    display: block;
    border-left:1px dashed #ccc;
    font-size:24px;
    padding:7px 10px;
    margin:0 0 0 10px;
}
body.invest #btnSwitch a{
    display: block;
}
/*INVEST*/



/*NEWS*/
body.news {
    background-color:#f8f8f8;
}
body.news .banner{
    background-image: url(../img/banner-news.jpg);
}
body.news .banner .breadcrumb a{
    color:#005aa0;
}
body.news .banner .breadcrumb a.btn-primary{
    color:#fff;
}
body.news .banner .breadcrumb>li+li:before{
    color:#005aa0;
}
body.news .banner .breadcrumb>.active{
    color:#363636;
}

body.news .item{
    background:#fff;
    margin:10px auto;
/*    padding:15px 0;*/
    font-size: 12px;
    line-height: 2;
}
body.news .item img{
    max-width: 100%;
    height:auto;
}
body.news .date{
    font-size: 16px;
    font-style: italic;
    color:#898989;
    margin-bottom:40px;
}
body.news .item .date{
    margin-bottom:0px;
    margin-top:20px;
}
section.sec-news-list .btn-primary{
    background: #636363;
    border:1px solid #636363;
}


section.sec-news-detail{
    margin-bottom: 40px;
}
section.sec-news-detail h1{
    color:#005aa0;
    font-size: 28px;
    line-height: 40px;
    margin: 0;
    padding:20px 0;
}
.row-title{
    border: 1px solid #d7d7d7;
    background: #fafafa;
}
.row-content{
    border: 1px solid #d7d7d7;
    border-top:0;
}
.row-title .news-date{
    color:#555;
    font-size: 14px;
    line-height: 80px;
    height: 80px;
}
.row-title .news-date big{
    font:italic 30px/80px 'Georgia';
    color:#005aa0;
    display: inline-block;
}
section.sec-news-detail .col-md-10{
    border-right: 1px solid #d7d7d7;
    padding:0 40px;
}
section.sec-news-detail article{
    margin:40px 0;
    font-size: 14px;
    line-height: 27px;
}
section.sec-news-detail article em strong{
    color:#005aa0;
}
.row-content .news-back a{
    line-height: 80px;
    display: inline-block;
    vertical-align: top;
}
.row-content .news-back big{
    font:italic 30px/80px 'Georgia';
    color:#005aa0;
    display: inline-block;
    vertical-align: top;
    margin-top:20px;
}
/*NEWS*/
/*

section.sec-mask{
    height:720px;
    background:url(../img/home-cover.png) top center no-repeat;
}

body.homepage{
    background: url(../img/test.png) center top no-repeat;
    opacity: .5;
}
body.aboutus{
    background: url(../img/test2.jpg) center top no-repeat;
    opacity: .5;
}
*/

body.news .banner .breadcrumb>li+li.news-cate{
    width:400px;
}

body.login{
    background: url(../img/bg_login.jpg) no-repeat center top fixed;
}
body.login .banner{
    background: none;
}
.sec-login{
    margin:150px auto 100px;
}
.sec-login h2{
    color:#fff;
}
.sec-login form{
    background: #fff;
    padding:40px;
}
.sec-login form .input-group{
    margin-bottom: 20px;
}



body.download{
    background: url(../img/bg-download.jpg) no-repeat center top fixed #f8f8f8;
}
body.download .banner{
    background: none;
}
body.download .banner .breadcrumb a{
    color: #898989;
}
body.download .banner .breadcrumb>.active{
    color: #005f9d;
}
body.download .banner .breadcrumb>li+li:before{
    color: #898989;
}

table.table{
    color:#555;
}
table.table tr{
    font-size: 14px;
}
table.table i{
    color:#b7b7b7;
}
table.table .chk,
table.table .dwl{
    width:60px;
}
table.table .dwl{
    text-align: center;
}
table.table i{
    color:#b7b7b7;
}

@media (min-width: 768px) {
    body{
        min-width: 1200px;
    }
  .container {
    width: 1170px;
  }
}
@media (min-width: 992px) {
    body{
        min-width: 1200px;
    }
  .container {
    width: 1170px;
  }
}
@media (min-width: 1200px) {
    body{
        min-width: 1200px;
    }
  .container {
    width: 1170px;
  }
}


@media (max-width: 767px) {
    body{
        min-width: 0;
    }
    header .navbar-brand img{
        display: block;
        height: 36px;
    }
    header .navbar{
        margin: 0 -15px;
    }
    header .navbar-header{
        position: static;
    }
    
    header .navbar-brand.navbar-brand-sh{
        padding:9px 15px 6px;
    }
    header .navbar-brand .navbar-brand-sh-logo{
        padding:0;
    }
    header .navbar-brand .navbar-brand-sh-logo img{
        display: block;
        height: 36px;
    }
    header .navbar-ext{
        padding:4px 0;
        display: block;
    }
    header .navbar-ext img{
        display: block;
        height: 12px;
    }

    section.sec-mask{
        height:auto;
    }
    section.sec-mask img{
        display: block;
        
    }
    
    .col-20{
        width:50%;
        float: left;
        padding:0 15px;
    }
    
    
    section.sec-news{
        background: url(../img/bg-news.jpg) no-repeat top center;
        height:auto;
        padding:15px 0px 30px;
    }
    .half-container{
        width:100%;
    }
    .sec-contact .sec-contact-lt{
        width:100%;
        margin:auto;
        height:auto;
    }
    .sec-contact .sec-contact-rt{
        width:100%;
        margin:auto;
        height:auto;
    }
    
    .sec-contact .sec-contact-lt .half-container{
        padding:20px;
    }
    .sec-contact .sec-contact-rt .half-container{
        padding:20px;
    }

    .sec-contact .sec-contact-form .lt{
        width: 100%;
        float: none;
    }
    .sec-contact .sec-contact-form .rt{
        width: 100%;
        float: none;
    }
    footer{
        padding: 15px 0;
    }
    footer .text-left,
    footer .text-right{
        text-align: center;
        line-height: 2;
    }
    .banner .breadcrumb{
        margin-top:130px;
    }
    
    section.sec-service .corner{
        background-image:url(../img/service-corner.png);
        background-repeat: no-repeat;
        background-position: top right;
        overflow: hidden;
    }
    
    section.sec-service .col-md-8{
        overflow: hidden;
    }
    section.sec-service .col-md-4{
        overflow: hidden;
        background-color: #fff;
    }
    
    section.sec-service article{
        margin:20px 0;
    }
    
    
    
    section.sec-contact .col-loc{
        border-left: 0;
        padding:20px;
    }
    section.sec-contact .col-loc .line{
        top:0;
        left:20px;
    }
    section.sec-contact .col-loc:first-child{
        padding-left:20px;
        border-left: 0;
    }
    section.sec-contact .col-loc:first-child .line{
        left:20px;
    }
    section.sec-invest-list .item{
        border-bottom: 1px solid #c1c1c1;
        padding:20px;
    }
    
    section.sec-invest-list.list .item{
        padding:0;
        border-bottom:0;
    }
    section.sec-filter .btn{
        margin:5px;
    }
    section.sec-news-detail .col-md-10{
        padding:0 20px;
    }
    
    .row-title{
        border: 0;
        border-top:1px solid #d7d7d7;
        border-bottom:1px solid #d7d7d7;
    }
    section.sec-news-detail .col-md-10{
        border:0;
    }
    .row-title .news-date{
        color:#555;
        background:#f7f7f7;
        border-top:1px solid #d7d7d7;
        border-right:1px solid #d7d7d7;
        font-size: 14px;
        line-height: 40px;
        height: 40px;
    }
    .row-title .news-date big{
        font-size: 20px;
        line-height: 40px;
    }
    .row-title .news-back{
        color:#555;
        background:#fff;
        border-top:1px solid #d7d7d7;
        font-size: 12px;
        line-height: 40px;
        height: 40px;
    }
    
    .nav-lang.nav>li{
        float:left;
    }

    
    section.sec-team-sh .team-desc{
        height:auto;
    }
    
    section.sec-team-sh .team-content{
    }
    
    #mTeam .person img{
        height:140px;
        width:auto;
    }
    #mTeam .p-img .person{
        margin: 0 -50px;
        text-align: center;

    }
    section.sec-team-sh .team-content .person{
        width:25%;
    }
    section.sec-team-sh .team-content{
        margin:20px 0;
    }
    section.sec-team-sh .team-content .person .option{
        height:30px;
        margin-bottom: 10px;
    }
    section.sec-team-sh .team-content .person .name{
        font-size: 16px;
        height:30px;
    }
    section.sec-team-sh .team-desc .col-md-10{
        padding-left: 10px;
    }
    
    section.sec-team .col-person img{
        max-width: 100%;
    }
    section.sec-team .col-person img{
        max-width: 100%;
    }
    section.sec-team .col-person.first a{
        margin: 0;
    }
    section.sec-team .col-person.last a{
        margin: 0;
    }
    section.sec-team .col-person a{
        margin: 0;
    }
    .col-xs-20{
        padding:0
    }
    
    section.sec-desc .person-desc .close{
        left:auto;
        right:20px;
    }
    
    section.sec-invest-list img{
        max-width: 100%;
    }
    section.sec-invest-list.list .row.item .col-logo{
        padding:0;
    }
    section.sec-invest-list.list .row.item .col-logo a:hover article{
        padding:10px 0;
    }
    section.sec-invest-list.list .row.item .col-logo a article .text-right{
        text-align: center;
        margin-top:0;
        padding:0;
    }
    section.sec-team img.img-team{
        max-width:100%;
        margin: 0 auto 10px;
    }
    body.team h2{
        padding:10px 0;
        font-size:20px;
        line-height:1;
    }
    body.news .banner .breadcrumb>li+li.news-cate{
        width:100%;
        margin-top:10px;
    }
    
}
.blue{
    color:#005aa0!important;
}
h4.team-title{
    margin:0;
}
section h2.news-title{
    font-size:20px;
}
.news-cate{
    padding:0;
}
body.news .banner .breadcrumb>li+li.news-cate:before{
    content:"";
}

.table>tbody>tr.p1>td:first-child{
    padding-left:20px;
}
.table>tbody>tr.p2>td:first-child{
    padding-left:40px;
}
.table>tbody>tr.p3>td:first-child{
    padding-left:60px;
}
.table>tbody>tr.p4>td:first-child{
    padding-left:60px;
}
.table>tbody>tr.p5>td:first-child{
    padding-left:80px;
}
.table>tbody>tr.p6>td:first-child{
    padding-left:100px;
}
.table>tbody>tr.p7>td:first-child{
    padding-left:100px;
}