/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

a.disabled { 
    cursor: not-allowed;
  pointer-events: none;
  opacity: .5; }


.smart-form .modal *{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.smart-form .modal-dialog {
  width: 600px;
  margin: 30px auto;
  padding:auto;
}

.smart-form .modal-header{
    padding:15px;
}
.smart-form .modal-body {
  padding: 20px;
}
.smart-form .modal-footer {
  padding: 20px
}
.smart-form .form-group{
    margin-bottom:15px;
}
.smart-form .btn{
    padding:6px 12px;
}


.css-form input.ng-invalid.ng-dirty {
  border:1px solid #FA787E;
}

.css-form input.ng-valid.ng-dirty {
  border:1px solid #78FA89;
}

#topMessage{
    position:fixed;
    top:0;
    left:0;
    text-align: center;
}
#topMessage article{
    display: inline-block;
    padding:0 10px;
    font-size:14px;
    color:#fff;
}

.smart-form .thumb{
    margin: 5px 0;
}
.smart-form .thumb img{
    width:400px;
    max-width: 100%;
}

#teamList{
    margin: 0;
    padding:0;
}
#teamList li{
    list-style: none;
    float:left;
}
#teamList li .box{
    height:120px;
    border:solid 1px transparent; 
    text-align:center;
    position:relative;
    overflow: hidden;
    margin-bottom: 15px;
    text-align: center;
    background:#f2f2f2;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
#teamList li .box.remove{
    border-color: #a90329;
}
#teamList li .box:hover{
    opacity: .7;
}
#teamList li .box .text{
    position: absolute;
    width:100%;
    bottom:0;
    line-height: 1em;
    padding:5px 0;
    background:rgba(0,0,0,.32);
    color:#fff;
}
#teamList li .box .tool{
    position: absolute;
    right:10px;
    top:10px;
    display:none;
}
#teamList li .box:hover .tool{
    display:block;
}

.placeHolder div { 
    background-color:white !important; border:dashed 1px gray !important; 
    height:120px;
}

.superbox-list{
    display:block;
    float:left;
}
.superbox-imageinfo h1 input{
    border:1px dotted #fff;
    width:500px;
    max-width:100%;
    height:auto;
    resize:none;
    padding:5px;
    color:#fff;
    background:transparent;
}
.superbox-img-description textarea{
    border:1px dotted #fff;
    width:500px;
    max-width:100%;
    height:auto;
    height:100px;
    resize:none;
    padding:5px;
    color:#fff;
    background:transparent;
}
.table>thead>tr>th.v-middle{
    vertical-align: middle;
}
div.dataTables_filter select{
    margin-left:20px;
}
#logo{
    margin-top:7px;
}
#logo img{
    width:150px;
}

textarea.form-control{
    min-height: 100px;
}